<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">Articles</span>
        <a href="#/article/0" class="btn btn-xs btn-default">
            <span class="glyphicon glyphicon-plus"></span> New Article
        </a>
    </div>
    <div class="panel-body">
        <form class="form form-inline">
          <div class="form-group">
              <select  class="form-control" ng-model="searchParams.category" ng-options="category.name for category in categories"></select>
          </div>
          <div class="form-group">
                <input type="text" class="form-control" placeholder="Filter"
                       ng-model="searchParams.query" on-enter="doSearch">
            </div>
            <button class="btn btn-primary" ng-click="doSearch()">
              <span class="glyphicon glyphicon-filter"></span> Search
            </button>
        </form>
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tr ng-repeat="article in articles">
                <td><a ng-href="#/article/{{article.id}}" ng-bind="article.id"></a></td>
                <td ng-bind="article.category"></td>
                <td ng-bind="article.title"></td>
                <td>
                  <a ng-href="#/article/{{article.id}}">
                    <span class="glyphicon glyphicon-edit"></span>
                    Edit
                  </a>
                  <a href="" ng-click="deleteArticle(article)">
                    <span class="glyphicon glyphicon-remove"></span>
                    Delete
                  </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-center">
            <ul class="pagination table-pagination">
                <li><a href="" ng-click="movePrevious()">&laquo;</a></li>
                <li ng-repeat="page in getPages()" class="{{page==currentPage?'active':''}}">
                  <a href="" ng-click="goToPage(page)">
                    <span ng-bind="page"></span>
                  </a>
                </li>
                <li><a href="" ng-click="moveNext()">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
