<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
          <strong>{{articleID == 0 ? 'New Article':'Article #'+articleID}}</strong>
          <a href="#/article/0" class="btn btn-xs btn-default">
            <span class="glyphicon glyphicon-plus"></span> New Article
          </a>
        </div>
        <div class="panel-body">
          <form class="form-inline">
            <div class="form-group">
                <label class="control-label">Category</label>
                <select class="form-control" ng-model="article.category_id" ng-options="category.name for category in categories">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Status</label>
                <select class="form-control" ng-model="article.status" ng-options="status for status in statuses">
                </select>
            </div>
          </form>
          <form>
            <div class="form-group">
                <label class="control-label"></label>
                <input type="text" class="form-control" placeholder="Title" ng-model="article.title"/>
            </div>
            <div class="form-group">
              <textarea class="form-control" ng-model="content" ckeditor="editorOptions"></textarea>
            </div>
          </form>
        </div>
        <div class="panel-footer text-right">
          <button class="btn btn-success" ng-click="saveArticle()">
            <span class="glyphicon glyphicon-check"></span>
            Save
          </button>
           <button class="btn btn-danger" ng-click="cancelArticle()">
            <span class="glyphicon glyphicon-remove"></span>
            Cancel
          </button>
        </div>
    </div>
  </div>
</div>
