<div class="row">
	<div class="col-xs-6">
		<h4>Major Categories</h4>
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Active</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="record in records" ng-click="selectRecord(record)">
					<td class="pointable {{currentCasePlanGoalMajorCategory.id == record.id ?'selected-row':''}}" ng-bind="record.name"></td>
					<td class="pointable {{currentCasePlanGoalMajorCategory.id == record.id ?'selected-row':''}}" ng-bind="record.active?'Active':'Inactive'"></td>
					<td>
						<a href="" ng-click="deleteRecord(record)"><span class="glyphicon glyphicon-remove"></span></a>
						<a href="" ng-click="editCasePlanGoalCategory(record)"><span class="glyphicon glyphicon-edit"></span></a>
					</td>
				</tr>
			</tbody>
		</table>		
	</div>
	<div class="col-xs-6">
		<h4>Minor Categories</h4>
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Active</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="record in casePlanGoalMinorCategories">
					<td ng-bind="record.name"></td>
					<td ng-bind="record.active?'Active':'Inactive'"></td>
					<td>
						<a href="" ng-click="deleteRecord(record)"><span class="glyphicon glyphicon-remove"></span></a>
						<a href="" ng-click="editCasePlanGoalCategory(record)"><span class="glyphicon glyphicon-edit"></span></a>
					</td>
				</tr>
			</tbody>
		</table>		
	</div>
</div>

<div class="modal {{showCasePlanGoalCategoryModal?'show':'hide'}}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" ng-click="cancelCasePlanGoalCategory()">&times;</button>
				<h4>New {{currentRecordType.name}}</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<label class="control-label">Name</label>
					<input class="form-control" type="text" ng-model="currentRecord.name"></input>
					<label>Major Category</label>
					<select class="form-control" ng-options="record.name for record in records" ng-model="currentRecord.majorCategory"></select>
					<label class="control-label checkbox">
						Active
						<input type="checkbox" ng-model="currentRecord.active"></input>
					</label>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success" ng-click="saveRecord()">
					<span class="glyphicon glyphicon-save"></span>
					Save
				</button>
				<button class="btn btn-danger" ng-click="cancelCasePlanGoalCategory()">
					<span class="glyphicon glyphicon-remove"></span>
					Cancel
				</button>
			</div>
		</div>
	</div>
</div>
