<div class="row">
  <div class="col-xs-5">
    <div>
      <button class="btn btn-primary btn-xs" ng-click="createEtiCard()">
        <span class="glyphicon glyphicon-plus"></span>
        New ETI Card
      </button>
      <button class="btn btn-primary btn-xs" ng-click="createResourceCard()">
        <span class="glyphicon glyphicon-plus"></span>
        New Resource Card
      </button>
      <button class="btn btn-primary btn-xs" ng-click="createClientCard()">
        <span class="glyphicon glyphicon-plus"></span>
        New CEP Client Card
      </button>
      <div class="horizontal-spacer"></div>
      <button class="btn btn-primary btn-xs" ng-click="createOrganization()">
        <span class="glyphicon glyphicon-plus"></span>
        New CEP Organization
      </button>
    </div>
    <div class="horizontal-spacer"></div>
    <div>
      <form class="form-inline">
        <div class="row">
            <div class="col-xs-3">
              <select class="form-control input-sm"
                      ng-model="loadParams.status"
                      ng-options="status for status in cardStatuses"
                      ng-change="loadCepCards()">
              </select>
            </div>
            <div class="col-xs-4">
              <label class="control-label checkbox">
                <input type="checkbox" ng-model="loadParams.showClient"/>
                Show Client Cards
              </label>
            </div>
            <div class="col-xs-5">
              <div class="input-group">
                <input class="form-control input-sm" type="text" placeholder="Search" ng-model="loadParams.substring"/>
                <span class="input-group-btn">
                  <button class="btn btn-sm btn-default" ng-click="loadCepCards()">
                    <span class="glyphicon glyphicon-search"></span>
                    Search
                  </button>
                </span>
              </div>
            </div>
        </div>
      </form>
    </div>
    <div class="horizontal-spacer"></div>
    <div>
      <table class="table table-condensed table-bordered table-striped">
        <thead>
          <tr>
            <th>Card</th>
            <th>Type</th>
            <th>Organization</th>
            <th>Status</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="c in cepCards" ng-click="selectCard(c)" class="pointable {{c.id==currentCard.id?'selected-row':''}}">
            <td ng-bind="c.resource_name || c.client || c.cep_organization_id.name">test</td>
            <td ng-bind="c.card_type">test</td>
            <td ng-bind="c.cep_organization_id.name"></td>
            <td ng-bind="c.status">test</td>
            <td ng-bind="c.created_on | date:'dd-MM-yyyy'">test</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <ul class="pagination table-pagination">
          <li ng-show="canMovePrevious()"><a href="" ng-click="goToPage(currentPage-1)"> &laquo;</a></li>
          <li ng-show="!canMovePrevious()" class="disabled"><a href=""> &laquo;</a></li>
          <li ng-repeat="page in pages" ng-class="currentPage==page?'active':''"><a href="" ng-click="goToPage(page)">{{page}}</a></li>
          <li ng-show="!canMoveNext()"class="disabled"><a href="" >&raquo;</a></li>
          <li ng-show="canMoveNext()"><a href="" ng-click="goToPage(currentPage+1)">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-7">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">Card Details</h4>
        </div>
        <div class="panel-body">
          <div ng-include="getCardPage()"/>
        </div>
    </div>
  </div>
</div>

<div class="modal {{cepView.showEtiModal?'show':'hide'}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" ng-click="cancelCard()">&times;</button>
          <h4 class="modal-title">ETI Card</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label class="control-label">Organization</label>
              <select class="form-control input-sm"
                      ng-model="currentCard.cep_organization_id"
                      ng-options="c.name for c in cepOrganizations"></select>
            </div>
            <div class="form-group">
              <label class="control-label">Name of Contact</label>
              <input type="text" class="form-control input-sm" ng-model="currentCard.contact_name"/>
            </div>
            <div class="form-group">
              <label class="control-label">Contact Phone</label>
              <input type="text" class="form-control input-sm" ng-model="currentCard.contact_phone"/>
            </div>
            <div class="form-group">
              <label class="control-label">Contact Email</label>
              <input type="text" class="form-control input-sm" ng-model="currentCard.contact_email"/>
            </div>
            <div class="form-group">
              <label class="control-label">Address Or Location</label>
              <input type="text" class="form-control input-sm" ng-model="currentCard.address"/>
            </div>
            <div class="form-group">
              <label class="control-label">Comments</label>
              <textarea class="form-control input-sm" ng-model="currentCard.comments"/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-success" ng-click="saveCard()">
              <span class="glyphicon glyphicon-save"></span>
              Save
          </button>
          <button class="btn btn-sm btn-danger" ng-click="cancelCard()">
              <span class="glyphicon glyphicon-remove"></span>
              Cancel
          </button>
        </div>
      </div>
    </div>
</div>

<div class="modal {{cepView.showResourceModal?'show':'hide'}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" ng-click="cancelCard()">&times;</button>
          <h4 class="modal-title">Resource Card</h4>
        </div>
        <div class="modal-body">
          <div ng-include="'/views/resource-card-form.html'"></div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-success" ng-click="saveCard()">
            <span class="glyphicon glyphicon-check"></span>
            Save
          </button>
          <button class="btn btn-sm btn-danger" ng-click="cancelCard()">
            <span class="glyphicon glyphicon-remove"></span>
            Cancel
          </button>
        </div>
      </div>
    </div>
</div>

<div class="modal {{cepView.showClientModal?'show':'hide'}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" ng-click="cancelCard()">&times;</button>
          Client Card
        </div>
        <div class="modal-body">
          <div ng-include="'/views/client-card-form.html'"></div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-success" ng-click="saveCard()">
            <span class="glyphicon glyphicon-save"></span>
            Save
          </button>
          <button class="btn btn-sm btn-danger" ng-click="cancelCard()">
            <span class="glyphicon glyphicon-remove"></span>
            Cancel
          </button>
        </div>
      </div>
    </div>
</div>

<div class="modal {{cepView.showClientPicker==true?'show':'hide'}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button class="close">&times;</button>
              <h4 class="modal-title">Select Client</h4>
           </div>
            <div class="modal-body">
              <div class="form-group">
                <div class="row">
                    <div class="col-xs-8">
                      <input class="form-control input-sm" ng-model="filter"/>
                    </div>
                    <div class="col-xs-4">
                      <button class="btn btn-sm btn-primary" ng-click="loadClients(filter)">
                        <span class="glyphicon glyphicon-filter"></span>
                        Filter
                      </button>
                    </div>
                </div>
              </div>
              <table class="table table-striped table-condensed">
                  <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Select</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="client in clients">
                        <td ng-bind="client.id"></td>
                        <td ng-bind="client.firstname"></td>
                        <td ng-bind="client.lastname"></td>
                        <td>
                          <button class="btn btn-xs btn-primary" ng-click="selectClient(client)">
                            Select
                          </button>
                        </td>
                    </tr>
                  </tbody>
              </table>
            </div>
        </div>
    </div>
</div>

<div class="modal {{cepView.showOrganizationModal?'show':'hide'}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button class="close" ng-click="cancelOrganization()">&times;</button>
              New Organization
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="control-label">
                  Organization Name:
                </label>
                <input type="text" ng-model="currentOrganization.name" class="form-control"/>
              </div>
           </div>
            <div class="modal-footer">
              <button class="btn btn-success" ng-click="saveOrganization()">
                <span class="glyphicon glyphicon-check"></span>
                Submit
              </button>
              <button class="btn btn-danger" ng-click="cancelOrganization()">
                <span class="glyphicon glyphicon-remove"></span>
                Cancel
              </button>
            </div>
        </div>
    </div>
</div>
