<div class="row">
   <fieldset>
     <legend>Assault</legend>
   </fieldset>
   <div class="col-xs-4">
     <label class="control-label checkbox">
       <input type="checkbox" ng-model="client.recentlyassulted">
       Resent Sexual Assault/s (last 6 weeks)
     </label>
     <label class="control-label">
       Recent sexual assault date
     </label>
     <input type="text" ng-model="client.recentlyassulteddate" class="form-control input-sm" datepicker/>

     <label class="control-label checkbox">
       <input type="checkbox"  ng-model="client.assultedat1225">
       Sexual Assault/ as YP (12-25 Years)
     </label>
     <label class="control-label">
       Date of sexual assult as YP
     </label>
     <input type="text"  ng-model="client.assultedat1225date" class="form-control input-sm" datepicker/>

     <label class="control-label checkbox">
       <input type="checkbox"  ng-model="client.drugalcoholfacilitatedsa">
       Drug/Alcohol Facilitated SA
     </label>
     <label class="control-label">
       Date of drug/alcohol facilitated SA
     </label>
     <input type="text" ng-model="client.drugalcoholfacilitatedsadate" class="form-control input-sm" datepicker/>

     <label class="control-label checkbox">
       <input type="checkbox" ng-model="client.incidentsviaelectronicmedia">
       Incident/s Via Electronic Media
     </label>
     <label class="control-label">
       Date of Incident Vial Electronic Media
     </label>
     <input type="text" ng-model="client.incidentsviaelectronicmediadate" class="form-control input-sm" datepicker/>

     <label class="control-label checkbox">
       <input type="checkbox"  ng-model="client.touchingoffences">
       Indecent Assult/s(Touching Offences)
     </label>
     <label class="control-label">
       Date of Indecent Assult
     </label>
     <input type="text"  ng-model="client.touchingoffencesdate" class="form-control input-sm" datepicker/>

     <label class="control-label checkbox">
       <input type="checkbox"  ng-model="client.childsexualassult">
       Child Sexual Assult (0-11 Years)
     </label>
     <label class="control-label">
       Date of child sexual assult
     </label>
     <input type="text"  ng-model="client.childsexualassultdate" class="form-control input-sm" datepicker/>
   </div>

   <div class="col-xs-4">

     <label class="control-label checkbox">
       <input type="checkbox"  ng-model="client.adultsexualassult">
       Adult Sexual Assult(26+ years)
     </label>
     <label class="control-label">
       Date Of Adult Sexual Assult
     </label>
     <input type="text"  ng-model="client.adultsexualassultdate" class="form-control input-sm" datepicker/>

     <label class="control-label checkbox">
       <input type="checkbox"  ng-model="client.assultbymultipleoffenders">
       Sexual Assult by Multiple Offenders
     </label>
     <label class="control-label">
       Date of Assult by Multiple Offenders
     </label>
     <input type="text"  ng-model="client.assultbymultipleoffendersdate" class="form-control input-sm" datepicker/>

     <label class="control-label checkbox">
       <input type="checkbox"  ng-model="client.violencebyintimatepartner">
       Intimate Partner Sexual Violence
     </label>
     <label class="control-label">
       Date Of Intimate Partner Sexual Violence
     </label>
     <input type="text"  ng-model="client.violencebyintimatepartnerdate" class="form-control input-sm" datepicker/>

     <label class="control-label checkbox">
       <input type="checkbox"  ng-model="client.sexualharrassment">
       Sexual Harrassment
     </label>
     <label class="control-label">
       Date of Sexual Harrassment
     </label>
     <input type="text"  ng-model="client.sexualharrassmentdate" class="form-control input-sm" datepicker/>

     <label class="control-label checkbox">
       <input type="checkbox"  ng-model="client.stalking">
       Stalking
     </label>
     <label class="control-label">
       Date Of Stalking
     </label>
     <input type="text"  ng-model="client.stalkingdate" class="form-control input-sm" datepicker/>

     <label class="control-label checkbox">
       <input type="checkbox"  ng-model="client.witnesssexualoffence">
       Witnessed Sexual Offence
     </label>
     <label class="control-label">
       Date Of Witnessing Sexual Offence
     </label>
     <input type="text"  ng-model="client.witnesssexualoffencedate"  class="form-control input-sm" datepicker/>
   </div>

   <div class="col-xs-4">

     <label class="control-label checkbox">
       <input type="checkbox"  ng-model="client.domesticviolence">
       Domestic Violence
     </label>
     <label class="control-label">
       Date Of Domestic Violence
     </label>
     <input type="text"  ng-model="client.domesticviolencedate"  class="form-control input-sm" datepicker/>

     <label class="control-label checkbox">
       <input type="checkbox"  ng-model="client.otherassult">
       Other Assult
     </label>
     <label class="control-label">Specify Other Assult</label>
     <input type="text"  ng-model="client.specifyotherassult" class="form-control input-sm">
     <label class="control-label">
       Date Of Other Assult
     </label>
     <input type="text"  ng-model="client.otherassultdate" class="form-control input-sm" datepicker/>

     <label class="control-label">
       Date Of First Disclosure
     </label>
     <input type="text" ng-model="client.firstdisclosuredate" class="form-control input-sm" datepicker/>

     <label class="control-label">
       To Whom was the first disclosure made
     </label>
     <input type="text"  ng-model="client.firstdisclosureto" class="form-control input-sm"/>

     <label class="control-label">
       Location
     </label>
     <input type="text" ng-model="client.recentincidentlocation" class="form-control input-sm"/>
 </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <label class="control-label">
      What if anything can you tell me about what happened
    </label>
    <textarea  ng-model="client.tellmewhathappened" class="form-control"></textarea>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <hr />
    <button class="btn btn-success" ng-click="saveClient()">
      <span class="glyphicon glyphicon-save"></span>
      Save
    </button>
    <button class="btn btn-danger" ng-click="loadClient()">
      <span class="glyphicon glyphicon-cancel"></span>
      Cancel
    </button>
  </div>
</div>
