<div class="row">
  <fieldset>
    <legend>Client Details</legend>
  </fieldset>
  <div class="col-xs-4">
    <div>
      <label class="control-label">First Name</label>
      <input type="text" class="form-control input-sm" ng-model="client.firstname"/>
    </div>

   <!-- <div>
      <label class="control-label">Culture</label>
      <select class="form-control input-sm" ng-model="client.culture_id" ng-options="culture.name for culture in cultures"/>
    </div> -->
    <div>
      <label class="control-label">Street Address</label>
      <input type="text" class="form-control input-sm" ng-model="client.streetaddress"/>
    </div>
    <div>
      <label class="control-label">State</label>
      <select  class="form-control input-sm" ng-model="client.state" ng-options="state for state in states"/>
    </div>
    <div>
      <label class="control-label">Email Adress</label>
      <input type="text" class="form-control input-sm" ng-model="client.emailaddress"/>
    </div>
  </div>
  <div class="col-xs-4">
    <div>
      <label class="control-label">Last Name</label>
      <input type="text"  class="form-control input-sm" ng-model="client.lastname"/>
    </div>
    <div>
      <label class="control-label">Ethnicity</label>
      <select  class="form-control input-sm" ng-model="client.ethnicity_id" ng-options="ethnicity.name for ethnicity in ethnicities"/>
    </div>
    <div>
      <label class="control-label">Suburb</label>
      <input type="text" class="form-control input-sm" ng-model="client.suburb"/>
    </div>
    <div>
      <label class="control-label">Postcode</label>
      <input type="text" postcode class="form-control input-sm" ng-model="client.postcode"/>
    </div>
    <div>
      <label class="control-label">Emergency Contact Name</label>
      <input type="text" class="form-control input-sm" ng-model="client.emergencycontactname"/>
    </div>
  </div>
  <div class="col-xs-4">
    <div>
      <label class="control-label">Identified Sexuality</label>
      <select class="form-control input-sm" ng-model="client.identifiedsexuality_id" ng-options="sexuality.name for sexuality in sexualities"/>
    </div>
    <div>
      <label class="control-label">Work Phone</label>
      <input type="text" fixed-phone class="form-control input-sm" ng-model="client.workphone"/>
    </div>
    <div>
      <label class="control-label">Home Phone</label>
      <input type="text"fixed-phone class="form-control input-sm" ng-model="client.homephone"/>
    </div>
    <div>
      <label class="control-label">Mobile Phone</label>
      <input type="text" mobile-phone class="form-control input-sm" ng-model="client.mobilephone"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div>
	<label class="control-label">Emergency Contact Details</label>
	<textarea class="form-control input-sm" cols="30" rows="2" ng-model="client.emergencycontactdetails"></textarea>
      </div>
      <div>
	<label class="control-label">Comments</label>
	<textarea class="form-control input-sm"  cols="30" rows="2" ng-model="client.communicationcomments"></textarea>
      </div>
    </div>
    <div class="col-xs-6">
      <div>
	<label for="" class="control-label checkbox">
	  Aboriginal Counsellor Preferred
	  <input type="checkbox" ng-model='client.aboriginalcounsellorpreffered'/>
	</label>
	<label for="" class="control-label checkbox">
	  Interpreter Needed
	  <input type="checkbox" ng-model="client.interpreterneeded"/>
	</label>
	<label for="" class="control-label checkbox">
	  Can we leave a message on the number provided?
	  <input type="checkbox" ng-model="client.canleavemessage"/>
	</label>
	<label for="" class="control-label checkbox">
	  Can we text you
	  <input type="checkbox" ng-model="client.cantext"/>
	</label>
	<label for="" class="control-label checkbox">
	  Is it ok for us to send letters to your given address?
	  <input type="checkbox" ng-model="client.cansendletters"/>
	</label>
      </div>
    </div>
  </div>
</div>
<div class="horizontal-spacer"/>
<div class="text-center">
  <button class="btn btn-sm btn-success" ng-click="saveClient()">
    <span class="glyphicon glyphicon-save"></span> Save
  </button>
  <button class="btn btn-sm btn-danger" ng-click="resetClient()">
    <span class="glyphicon glyphicon-repeat"></span> Reset
  </button>
</div>
