<div class="row">
  <div class="col-xs-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">Folders</h4>
        </div>
        <div class="panel-body">
          <table class="table">
              <tbody>
               <tr ng-repeat="f in folders" class="pointable {{f.id==currentFolder.id?'selected-row':''}}" ng-click="selectFolder(f)">
                 <td ng-bind="f.name"></td>
               </tr>
              </tbody>
          </table>
        </div>
    </div>
  </div>

  <div class="col-xs-8">
    <div class="alert alert-info" ng-show="!currentFolder">
      <span class="glyphicon glyphicon-info-sign"></span>
      <span>No folder selected.</span>
    </div>
    <div class="panel panel-primary" ng-show="currentFolder">
        <div class="panel-heading">
          <h4 class="panel-title">Files-{{currentFolder.name}}</h4>
        </div>
        <div class="panel-body">
          <div class="well well-sm">
            <form action="/file/upload" upload-form onupload="onAttachmentUpload" method="post" enctype="multipart/form-data">
              <input type="hidden" name="folderID" value="{{currentFolder.id}}">
              <input type="hidden" name="clientID" value="{{client.id}}">
              <input type="hidden" name="purpose" value="CLIENT"/>
              <div class="row">
                <div class="col-xs-8">
                  <input type="file" name="uploadedFile" class="form-control"/>
                </div>
                <div class="col-xs-4">
                  <button class="btn btn-primary" ng-click="uploadAttachment()">Upload</button>
                </div>
              </div>
            </form>
          </div>
          <table class="table table-striped">
            <thead>
                <tr>
                    <th>File</th>
                    <th>
                      <span class="glyphicon glyphicon-cog"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="a in attachments">
                <td ng-bind="a"></td>
                <td>
                  <a ng-href="/file/download/CLIENT/{{client.id}}/{{currentFolder.name}}/{{a}}" target="_blank">
                    <span class="glyphicon glyphicon-download-alt" tooltip="download"></span>
                  </a>
                  <span>&nbsp;&nbsp;</span>
                  <a href="" ng-click="deleteAttachment(a)">
                    <span class="glyphicon glyphicon-remove" tooltip="delete"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="alert alert-info" ng-show="!attachments.length ">
            <span class="glyphicon glyphicon-info-sign"></span>
            No files in the selected folder.
          </div>
        </div>
    </div>
  </div>

</div>
