<div class="row well-sm">
  <fieldset>
    <legend>Client Summary</legend>
  </fieldset>
  <div class="col-xs-4">
    <form action="" role="form">
      <div>
	<label class="control-label">First Name</label>
        <input type="text" class="form-control input-sm" ng-model="client.firstname" />
      </div>
      <div>
	<label class="control-label">Date Of Birth</label>
        <input type="text" class="form-control input-sm"
               ng-model="client.dateofbirth" datepicker
	       data-date-format="DD/MM/YYYY" />
      </div>
      <div>
	<label class="control-label">Client Identifies As</label>
        <select class="form-control input-sm"
                ng-model="client.identifiedgender_id"
		ng-options="gender.name for gender in identifiedGenders" />
      </div>
      <div>
	<label class="control-label checkbox">
          Wraparound
          <input type="checkbox" class="" ng-model="client.wraparound" />
	</label>
      </div>
      <div>
	<label class="control-label">Risk Of Homelessness </label>
	<select class="form-control" ng-options="risk.name for risk in homelessRisks" ng-model="client.homelessrisk_id"></select>
      </div>
    </form>
  </div>

  <div class="col-xs-4">
    <form role="form">
      <div>
	<label class="control-label">Last Name</label>
        <input type="text" class="form-control input-sm" ng-model="client.lastname" />
      </div>
      <div>
	<label class="control-label">Age: <span ng-bind="client.age"></span></label>
      </div>
      <div>
	<label class="checkbox control-label">
          Counsellor Allocated
          <input type="checkbox" ng-model="client.counsellorallocated" />
	</label>
      </div>
      <div>
	<label class="control-label">Client is</label>
        <select	 class="form-control input-sm"
                 ng-model="client.contactrelation"
	         ng-options='relation for relation in contactRelations' />
      </div>
      <div>
	<label class="checkbox control-label">
          Visible to Counsellor Only
          <input type="checkbox" ng-model="client.counselloronly" />
	</label>
      </div>
    </form>
  </div>

  <div class="col-xs-4">
    <form role="form">
      <div>
	<label class="control-label">Preferred/Other Name</label>
        <input  type="text" class="form-control input-sm"
		ng-model="client.othername" />
      </div>
      <div>
	<label class="control-label">Client Status</label>
	<select class="form-control input-sm"
                ng-model="client.status_id"
                ng-options='status.name for status in clientStatuses'/>
      </div>
      <div>
	<label class="control-label">Counsellor</label>
	<select class="form-control input-sm"
                ng-model="client.counsellor_id"
                ng-options="c.username for c in staffs"/>
      </div>
    </form>
  </div>
</div>
<div class='row'>
  <div class="col-xs-6">
    <label class="control-label checkbox">
      Difficulty seeing even if wearing glasses
      <input type="checkbox" ng-model="client.difficultseeing" />
    </label>
    <label class="control-label checkbox">
      Difficulty hearing even if wearing hearing aid
      <input type="checkbox" ng-model="client.difficulthearing" />
    </label>
    <label class="control-label checkbox">
      Difficulty walking on slopes or climbing steps
      <input type="checkbox" ng-model="client.difficultwalking" />
    </label>
    <label class="control-label checkbox">
      Difficulty remembering or concentrating
      <input type="checkbox" ng-model="client.difficultremembering" />
    </label>
  </div>
  <div class="col-xs-3">
    <label class="control-label checkbox">
      SAMSSA
      <input type="checkbox" ng-model="client.samssa" />
    </label>
    <label class="control-label checkbox">
      CRCC
      <input type="checkbox" ng-model="client.crcc" />
    </label>
    <label class="control-label checkbox">
      Nguru
      <input type="checkbox" ng-model="client.nguru" />
    </label>
    <label class="control-label checkbox">
      Royal Commission
      <input type="checkbox" ng-model="client.royalcommission"/>
    </label>
  </div>
  <div class="col-xs-3">
    <div>
      <label class="control-label">File Number</label>
      <input type="text" class="form-controller" ng-model="client.filenumber"/>
    </div>
    <div>
      <label class="control-label">First Contact Date</label>
      <input type="text" class="form-controller" datepicker ng-model="client.firstcontactdate" data-date-format="DD/MM/YYYY"/>
    </div>
  </div>
</div>
<div class="text-center">
	<button class="btn btn-sm btn-success" ng-click="saveClient()">
		<span class="glyphicon glyphicon-save"></span> Save
	</button>
	<button class="btn btn-sm btn-danger" ng-click="resetClient()">
		<span class="glyphicon glyphicon-repeat"></span> Reset
	</button>
</div>
