<form role="form">
   <div class="form-group">
     <label class="control-label">Status</label>
     <select class="form-control input-sm"
             ng-model="currentCard.status"
             ng-options="s for s in cepStatuses"></select>
   </div>
   <div class="form-group">
     <label class="control-label">Client</label>
     <input class="form-control" ng-model="currentCard.client"/>
   </div>
  <div class="form-group">
    <label class="control-label" for="">Organization</label>
    <select class="form-control input-sm"
            ng-model="currentCard.cep_organization_id"
            ng-options="org.name for org in cepOrganizations"/>
  </div>
  <div class="form-group">
    <label class="control-label" for="">Address</label>
    <input type="text" class="form-control input-sm" ng-model="currentCard.address"/>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="">State</label>
        <select class="form-control input-sm"
                ng-model="currentCard.client_state"
                ng-options="state for state in states"/>
      </div>
      <div class="form-group">
        <label class="control-label" for="">Suburb</label>
        <input type="text" class="form-control input-sm" ng-model="currentCard.client_suburb"/>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="">Postcode</label>
        <input type="text" class="form-control input-sm" ng-model="currentCard.client_postcode"/>
      </div>
      <div class="form-group">
        <label class="control-label" for="">Contact Phone</label>
        <input type="text" class="form-control input-sm" ng-model="currentCard.contact_phone"/>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="">Contact Email Address</label>
    <input type="text" class="form-control input-sm" ng-model="currentCard.contact_email"/>
  </div>
</form>
