<div>
  <ul class="nav nav-tabs">
    <li class="{{cepView.tab=='details'?'active':''}}">
      <a href="" ng-click="cepView.tab='details'">Details</a>
    </li>
    <li class="{{cepView.tab=='attachments'?'active':''}}">
      <a href="" ng-click="cepView.tab='attachments'">Attachments</a>
    </li>
  </ul>

  <div class="horizontal-spacer"></div>
  <div ng-show="cepView.tab == 'details'">
    <div ng-include="'/views/client-card-form.html'"></div>
    <div class="text-right">
      <button class="btn btn-success" ng-click="saveCard()">
        <span class="glyphicon glyphicon-check"></span>
        Save
      </button>
    </div>
  </div>
  <div ng-show="cepView.tab == 'attachments'">
    <div ng-include="'/views/cep-attachments.html'"></div>
  </div>

</div>
