<div class="row">
  <fieldset>
    <legend>Health</legend>
  </fieldset>
  <div class="col-xs-4">
    <div>
      <label class="control-label checkbox">
        <input type="checkbox" ng-model="client.disability">
        Disability
      </label>
    </div>
    <div>
      <label class="control-label">Specify Disability</label>
      <input type="text" ng-model="client.disabilityspecify" class="form-control input-sm"/>
    </div>
    <div>
      <label class="control-label">
        What support considerations can CRCC make to support you?
      </label>
      <textarea class="form-control input-sm" ng-model="client.supportconsiderations"/>
    </div>
    <div>
      <label class="control-label checkbox">
        <input type="checkbox" ng-model="client.otherhealth">
        Other Health/Medical condition
      </label>
    </div>
    <div>
      <label class="control-label">Specify other Health/Medical condition</label>
      <input type="text" ng-model="client.otherhealthspecify"  class="form-control input-sm"/>
    </div>
    <div>
      <label class="control-label">Doctor</label>
      <input type="text" ng-model="client.doctor"  class="form-control input-sm"/>
    </div>
    <div>
      <label class="control-label">
        Current Medications
      </label>
      <textarea ng-model="client.currentmedications" class="form-control input-sm"/>
    </div>

     <div>
      <label class="control-label checkbox">
        <input ng-model="client.selfharm"  type="checkbox">
        Self Harm
      </label>
    </div>
    <div>
      <label class="control-label">Self Harm Details</label>
      <input type="text" ng-model="client.selfharmspecify"  class="form-control input-sm"/>
    </div>
    <div>
      <label class="control-label">Self Harm Past/present</label>
      <select ng-model="client.pastpresentselfharm" class="form-control input-sm" ng-options="e for e in ['Past', 'Present']"/>
    </div>
    <div>
      <label class="control-label">
        What Strategies have been/ are helpful to increase your safety?
      </label>
      <textarea ng-model="client.safetystrategies" class="form-control input-sm"/>
    </div>
  </div>
  <div class="col-xs-4">
    <div>
      <label class="control-label checkbox">
        <input type="checkbox" ng-model="client.druguse">
        Drug Use
      </label>
    </div>
    <div>
      <label class="control-label">Drug Use Details</label>
      <input type="text" ng-model="client.drugusespecify"  class="form-control input-sm"/>
    </div>
    <div>
      <label class="control-label">Drug Use Past/present</label>
      <select ng-model="client.pastpresentdruguse" class="form-control input-sm" ng-options="e for e in ['Past', 'Present']"/>
    </div>
    <div>
      <label class="control-label">
        What Strategies have been/ are helpful in managing?
      </label>
      <textarea ng-model="client.drugusestrategies"  class="form-control input-sm"/>
    </div>

    <div>
      <label class="control-label checkbox">
        <input ng-model="client.mentalhealth" type="checkbox">
        Mental Health
      </label>
    </div>
    <div>
      <label class="control-label">Mental Health Diagnosing Practitioner</label>
      <input type="text" ng-model="client.diagnosingpractitioner"  class="form-control input-sm"/>
    </div>
    <div>
      <label class="control-label">Mental Health Past/present</label>
      <select ng-model="client.pastpresentmentalhealth" class="form-control input-sm" ng-options="e for e in ['Past', 'Present']"/>
    </div>
    <div>
      <label class="control-label">
        Current Prescribed Medications And Dosage?
      </label>
      <textarea ng-model="client.currentprescriptions"  class="form-control input-sm"/>
    </div>

    <div>
      <label class="control-label checkbox">
        <input ng-model="client.suicidal"  type="checkbox">
        Suicidality
      </label>
    </div>
    <div>
      <label class="control-label">Suicidality Details</label>
      <input type="text"  ng-model="client.suicidalspecify" class="form-control input-sm"/>
    </div>
    <div>
      <label class="control-label">Suicidality Past/present</label>
      <select ng-model="client.pastpresentsuicidality" class="form-control input-sm" ng-options="e for e in ['Past', 'Present']"/>
    </div>
    <div>
      <label class="control-label">
        What Strategies have been/ are helpful to increase safety?
      </label>
      <textarea ng-model="client.suicidalitystrategies" class="form-control input-sm"/>
    </div>
  </div>

  <div class="col-xs-4">
     <div>
      <label class="control-label checkbox">
        <input ng-model="client.eatingproblems" type="checkbox">
        Eating Problems
      </label>
    </div>
    <div>
      <label class="control-label">Eating Problem Details</label>
      <input type="text" ng-model="client.eatingproblemsspecify" class="form-control input-sm"/>
    </div>
    <div>
      <label class="control-label">Eating Problem Past/present</label>
      <select ng-model="client.pastpresenteatingproblems" class="form-control input-sm" ng-options="e for e in ['Past', 'Present']"/>
    </div>
    <div>
      <label class="control-label">
        What Strategies have been/ are helpful in manging?
      </label>
      <textarea ng-model="client.eatingproblemstrategies"  class="form-control input-sm"/>
    </div>

     <div>
      <label class="control-label checkbox">
        <input ng-model="client.alcoholuse" type="checkbox">
        Alcohol Use
      </label>
    </div>
    <div>
      <label class="control-label">Alcohol Use Details</label>
      <input type="text" ng-model="client.alcoholusespecify" class="form-control input-sm"/>
    </div>
    <div>
      <label class="control-label">Alcohol Use Past/present</label>
      <select ng-model="client.pastpresentalcoholuse" class="form-control input-sm" ng-options="e for e in ['Past', 'Present']"/>
    </div>
    <div>
      <label class="control-label">
        What Strategies have been/ are helpful to increase safety?
      </label>
      <textarea ng-model="client.alcoholusestrategies" class="form-control input-sm"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <hr />
    <button class="btn btn-success" ng-click="saveClient()">
      <span class="glyphicon glyphicon-save"></span>
      Save
    </button>
    <button class="btn btn-danger" ng-click="loadClient()">
      <span class="glyphicon glyphicon-cancel"></span>
      Cancel
    </button>
  </div>
</div>
