<div class="row" ng-show="caseplanView.page=='list'">
  <div class="col-xs-12">
    <span>
      <strong>Case Plans</strong>
    </span>
    <button class="btn btn-sm btn-primary" ng-click="caseplanView.open=true">
      <span class="glyphicon glyphicon-plus"></span>
      New Case Plan
    </button>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Incidents</th>
            <th>Notes</th>
            <th>Counsellor</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="caseplan in caseplans" class="pointable" ng-click="selectCaseplan(caseplan)">
            <td ng-bind="caseplan.incident"></td>
            <td ng-bind="caseplan.counsellornotes"></td>
            <td ng-bind="caseplan.counsellor"></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

<div class="row" ng-show="caseplanView.page=='detail'">
  <div class="col-xs-12">
    <strong>Caseplan</strong>
    <button class="btn btn-xs btn-primary" ng-click="caseplanView.page='list'">
      <span class="glyphicon glyphicon-list"></span>
      List View
    </button>
    <button class="btn btn-xs btn-primary" ng-click="createCaseplan()">
      <span class="glyphicon glyphicon-plus"></span>
      New Caseplan
    </button>
    <div class="horizontal-spacer"></div>
    <p ng-bind="currentCaseplan.incident"></p>
    <div class="horizontal-spacer"/>
    <ul class="nav nav-tabs">
      <li ng-class="caseplanView.tab=='details'?'active':''">
        <a href="" ng-click="caseplanView.tab='details'">Details</a>
      </li>
      <li ng-class="caseplanView.tab=='goals'?'active':''">
        <a href="" ng-click="caseplanView.tab='goals'">Goals</a>
      </li>
      <li ng-class="caseplanView.tab=='reviews'?'active':''">
        <a href="" ng-click="caseplanView.tab='reviews'">Reviews</a>
      </li>
      <li ng-class="caseplanView.tab=='notes'?'active':''">
        <a href="" ng-click="caseplanView.tab='notes'">Linked Case Notes</a>
      </li>
    </ul>

    <div class="horizontal-spacer"></div>

    <div ng-show="caseplanView.tab=='details'">
      <label class="control-label">Counselling Goal Description</label>
      <textarea class="form-control" ng-model="currentCaseplan.incident"></textarea>

      <label class="control-label">Notes To Counsellors</label>
      <textarea class="form-control" ng-model="currentCaseplan.counsellornotes"></textarea>

      <label class="control-label">Closure Category</label>
      <select class="form-control"
              ng-model="currentCaseplan.closurecategory_id" ng-options="c.name
                                                                        for c in casePlanClosureCategories"></select>
      <label class="control-label">Closure Reason</label>
      <textarea class="form-control" ng-model="currentCaseplan.closurereason"></textarea>
      <div class="horizontal-spacer"></div>
      <div class="text-center">
        <button class="btn btn-success btn-sm" ng-click="saveCaseplan()">
          <span class="glyphicon glyphicon-save"></span>
          Save
        </button>
      </div>
    </div>

    <div ng-show="caseplanView.tab=='goals'">
      <div class="horizontal-spacer"></div>
      <strong>Caseplan Goals</strong>
      <button class="btn btn-xs btn-primary" ng-click="createCaseplanGoal()">
        <span class="glyphicon glyphicon-plus"></span>
        New Caseplan Goal
      </button>
      <div class="horizontal-spacer"></div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Major Goal</th>
            <th>Minor Goal</th>
            <th>Severity</th>
            <th>Therapy Method</th>
            <th>Created On</th>
            <th>
              <span class="glyphicon glyphicon-cog"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="g in caseplanGoals">
            <td ng-bind="g.majorCategory"></td>
            <td ng-bind="g.minorCategory"></td>
            <td ng-bind="g.severity"></td>
            <td ng-bind="g.therapyMethod"></td>
            <td ng-bind="g.createdOn"></td>
            <td>
              <a href="" ng-click="selectCaseplanGoal(g)">
                <span class="glyphicon glyphicon-edit"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-show="caseplanView.tab=='reviews'">
      <div class="horizontal-spacer"></div>

      <div class="row">
        <div class="col-xs-6">
          <strong>Caseplan Reviews</strong>
          <button class="btn btn-xs btn-primary" ng-click="createCaseplanReview()">
            <span class="glyphicon glyphicon-plus"></span>
            New Review
          </button>
          <div class="horizontal-spacer"></div>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Review</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="r in caseplanReviews" class="pointable" ng-click="selectReview(r)">
                <td ng-bind="r.review"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-6">
          <div ng-show="!currentReview" class="alert alert-info">
            <span class="glyphicon glyphicon-info-sign"></span>
            No Review Selected.
          </div>
          <div ng-show="currentReview">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-3">Created On:</label>
                <div class="col-sm-9">
                  <p class="form-control-static" ng-bind="currentReview.createdOn"></p>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3">Created By:</label>
                <div class="col-sm-9">
                  <p class="form-control-static" ng-bind="currentReview.createdBy"></p>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3">Comment:</label>
                <div class="col-sm-9">
                  <p class="form-control-static" ng-bind="currentReview.review"></p>
                </div>
              </div>
            </form>
            <div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Major Category</th>
                    <th>Minor Category</th>
                    <th>Severity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="g in currentReview.goals">
                    <td ng-bind="g.majorCategory"></td>
                    <td ng-bind="g.minorCategory"></td>
                    <td>
                      <span ng-bind="g.severity"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

     <div ng-show="caseplanView.tab=='notes'">
      <div class="horizontal-spacer">
        <button class="btn btn-primary btn-xs" ng-click="showCaseNoteChooser()">
          <span class="glyphicon glyphicon-plus"></span>
          Select Case Note
        </button>
        <div class="horizontal-spacer"></div>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>CaseNote</th>
              <th><span class="glyphicon glyphicon-cog"></span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="c in caseplanCaseNotes">
              <td ng-bind="c.note"></td>
              <td>
                <a href="" ng-click="dropCaseNote(c)">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal {{caseplanView.open?'show':'fade'}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" ng-click="caseplanView.open=false">&times;</button>
        <h4 class="modal-title">New Case Plan</h4>
      </div>
      <div class="modal-body">
        <label class="control-label">Counselling Goal Description</label>
        <textarea class="form-control" ng-model="currentCaseplan.incident"></textarea>

        <label class="control-label">Notes To Counsellors</label>
        <textarea class="form-control" ng-model="currentCaseplan.counsellornotes"></textarea>

        <label class="control-label">Closure Category</label>
        <select class="form-control"
        ng-model="currentCaseplan.closurecategory_id" ng-options="c.name
        for c in casePlanClosureCategories"></select>

        <label class="control-label">Closure Reason</label>
        <textarea class="form-control" ng-model="currentCaseplan.closurereason"></textarea>
      </div>
      <div class="modal-footer text-center">
        <button class="btn btn-success btn-sm" ng-click="saveCaseplan()">
          <span class="glyphicon glyphicon-save"></span>
          Save
        </button>
        <button class="btn btn-danger btn-sm" ng-click="cancelCaseplan()">
          <span class="glyphicon glyphicon-remove"></span>
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal {{caseplanView.showGoal==true?'show':'hide'}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" ng-click="cancelGoal()">&times;</button>
        <h4 class="modal-title">Caseplan Goal</h4>
      </div>
      <div class="modal-body">
        <form>

          <label class="control-label" for="">Severity</label>
          <select class="form-control" name="" id="" ng-model="caseplanGoal.severity" ng-options="s for s in severities">
          </select>

          <label class="control-label" for="">Major Category</label>
          <select class="form-control"
                  ng-change="selectMajorCategory()"
                  ng-model="caseplanGoal.majorcategory_id" ng-options="m.name for m in majorCategories">
          </select>

          <label class="control-label" for="">Minor Category</label>
          <select class="form-control" name="" id="" ng-model="caseplanGoal.minorcategory_id" ng-options="m.name for m in minorCategories">
          </select>

          <label class="control-label" for="">Therapy Method</label>
          <select class="form-control" name="" id="" ng-model="caseplanGoal.therapymethod_id" ng-options="t.name for t in therapyMethods">
          </select>
        </form>
      </div>
      <div class="modal-footer text-center">
        <button class="btn btn-sm btn-success" ng-click="saveGoal()">
          <span class="glyphicon glyphicon-save"></span>
          Save
        </button>
        <button class="btn btn-sm btn-danger" ng-click="cancelGoal()">
          <span class="glyphicon glyphicon-remove"></span>
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal {{caseplanView.showReview==true?'show':'hide'}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" ng-click="cancelReview()">&times;</button>
        <h4 class="modal-title">Caseplan Review</h4>
      </div>
      <div class="modal-body">
        <form>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Major Category</th>
                <th>Minor Category</th>
                <th>Severity</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="r in reviewItems">
                <td ng-bind="r.majorCategory"></td>
                <td ng-bind="r.minorCategory"></td>
                <td>
                  <select class="form-control"
                          ng-options="s for s in [1,2,3,4,5,6,7,8,9,10]"
                          ng-model="r.severity">
                </td>
              </tr>
            </tbody>
          </table>
          <div class="form-group">
            <label class="control-label" for="">Review</label>
            <textarea class="form-control" ng-model="caseplanReview.review"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer text-center">
        <button class="btn btn-sm btn-success" ng-click="saveReview()">
          <span class="glyphicon glyphicon-save"></span>
          Save
        </button>
        <button class="btn btn-sm btn-danger" ng-click="cancelReview()">
          <span class="glyphicon glyphicon-remove"></span>
          Cancel
        </button>

      </div>
    </div>
  </div>
</div>

<div class="modal {{caseplanView.showCaseNoteChooser==true?'show':'hide'}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" ng-click="cancelCaseNote()">&times;</button>
        <strong>Select Case Note</strong>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" placeholder="Filter" ng-model="casenoteFilter"/>
        <div class="horizontal-spacer"></div>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Case Note</th>
              <th>Select</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="c in openCaseNotes | filter:casenoteFilter">
              <td ng-bind="c.note"></td>
              <td>
                <a href="" class="btn btn-xs btn-primary" ng-click="pickCaseNote(c)" ng-show="c.caseplan_id==null">Select</a>
                <a href="" class="btn btn-xs btn-default" ng-click="dropCaseNote(c)" ng-show="c.caseplan_id !=null">Unselect</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
