<div class="row">
  <div class="col-xs-7">

    <div ng-show="clientPendingAlerts.length > 0">
      <table class="table">
        <thead>
	  <tr>
	    <th>Description</th>
	    <th>AlertType</th>
	    <th>Action</th>
	  </tr>
        </thead>
        <tbody>
	  <tr ng-repeat="alert in clientPendingAlerts" class="pending-alert" ng-click="selectAlert(alert)">
	    <td ng-bind="alert.issue"></td>
	    <td ng-bind="alert.alertType"></td>
            <td>
              <a href="" ng-click="selectAlert(alert)">
                <span class="glyphicon glyphicon-eye-open"></span>
                View
              </a>
              <a href="" ng-click="acknowledgeAlert(alert)" class="btn btn-xs btn-success">
                <span class="glyphicon glyphicon-check"></span>
                Acknowledge
              </a>
            </td>
	  </tr>
        </tbody>
      </table>
    </div>

    <div>
      <form class="form-inline">
        <div class="form-group">
	  <input type="text"  class="form-control input-sm" placeholder="Filter" ng-model="alertParams.substring"/>
        </div>
        <div class="form-group">
	  <label class="control-label">
	    <input type="checkbox" ng-model="alertParams.activeOnly"/>
	    Active Only
	  </label>
        </div>
        <button class="btn btn-sm btn-primary" ng-click="loadAlerts()">
	  <span class="glyphicon glyphicon-filter"></span>
	  Filter
        </button>
      </form>

      <table class="table table-striped">
        <thead>
	  <tr>
	    <th>Active</th>
	    <th>Permanent</th>
	    <th>Type</th>
	    <th>Description</th>
	  </tr>
        </thead>
        <tbody>
	  <tr ng-repeat="alert in alerts" class="pointable" ng-click="selectAlert(alert)">
	  <td ng-bind="alert.active">yes</td>
	  <td ng-bind="alert.permanent">yes</td>
	  <td ng-bind="alert.alertType">Some Type</td>
	  <td ng-bind="alert.issue">
	    l asdlf jasdlfj as;dfj asdlfj asdfl asdf as
	    s sdf lasdjf lasjdf lasjdf asdf asdf
	    sa dlfajsdlf kajsdflj asdf asd
	    sldjf asljdf asjldf as
	  </td>
	</tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-5">
    <div class="panel panel-default">
      <div class="panel-heading">
	<strong class="panel-title">Alert Details</strong>
	<button class='btn btn-primary btn-sm' ng-click="createNewAlert()">
	  <span class="glyphicon glyphicon-plus"></span>
	  New Alert
	</button>
      </div>
      <div class="panel-body">
	<p ng-show="!currentAlert">Select alert to edit or create a new alert</p>
	<form role="form" ng-show="currentAlert">
	  <div>
	    <label class="checkbox control-label">
	      Status:
              <span ng-bind="currentAlert.active?'Active':'Closed'"></span>
              <button class="btn btn-sm btn-danger" ng-show="currentAlert.active" ng-click="closeAlert()">
                <span class="glyphicon glyphicon-remove"></span>
                Close Alert
              </button>
              <button class="btn btn-sm btn-danger" ng-show="!currentAlert.active" ng-click="reopenAlert()">
                <span class="glyphicon glyphicon-remove"></span>
                Reopen Alert
              </button>
	    </label>

	    <label class="checkbox control-label">
	      Permanent
	      <input type="checkbox" ng-model="currentAlert.permanent" ng-disabled="!currentAlert.active"/>
	    </label>
            <label class="control-label">Alert Type</label>
            <select class="form-control"
                    ng-model="currentAlert.alerttype_id"
                    ng-options="a.name for a in alertTypes"
                    ng-disabled="!currentAlert.active"/>
            <label class="control-label">Alert Reason</label>
            <select class="form-control"
                    ng-model="currentAlert.alertreason_id"
                    ng-options="a.name for a in alertReasons"
                    ng-disabled="!currentAlert.active"/>
            <label class="control-label">
              Description of the issue that caused the alert
            </label>
            <textarea class="form-control"
                      ng-model="currentAlert.issue"
                      ng-disabled="!currentAlert.active"></textarea>
            <label class="control-label">
              Description of how to resolve the alert
            </label>
            <textarea class="form-control"
                      ng-model="currentAlert.resolution"
                      ng-disabled="!currentAlert.active"></textarea>
            <label class="control-label">Reason why the alert was closed</label>
            <textarea class="form-control"
                      ng-model="currentAlert.closurereason"
                      ng-disabled="!currentAlert.active"></textarea>
	  </div>
	</form>
      </div>
      <div class="panel-footer  text-right">
	<button class="btn btn-success" ng-click="saveAlert()" ng-show="currentAlert.active">
	  <span class="glyphicon glyphicon-save"></span>
	  Save
	</button>
	<button class="btn btn-danger" ng-click="cancelAlert()" ng-show="currentAlert.active">
	  <span class="glyphicon glyphicon-cancel"></span>
	  Cancel
	</button>
      </div>
    </div>
  </div>
</div>
