<div class="panel panel-default">
  <div class="panel-heading">
    <strong class="panel-title" ng-bind="'ID:'+' '+client.id+' - '+client.firstname+' '+client.lastname +' ' + client.othername"></strong>
    &nbsp;
    <span class="client-alert" ng-show="clientPendingAlerts.length > 0">
      <i class="glyphicon glyphicon-exclamation-sign"></i>
      <a ng-href="#/clients/{{clientID}}?tab=alerts" ng-click="currentView='alerts'"><span ng-bind="clientPendingAlerts.length"></span> pending alerts</a>
    </span>

    <button class="btn btn-danger btn-xs" ng-show="getUserInfo().role==1" ng-click="deleteClient()">
      <span class="glyphicon glyphicon-remove"></span>
      Delete
    </button>
    <button class="btn btn-info btn-xs" ng-click="openMergeDialog()" ng-show="getUserInfo().role==1" ng-click="deleteClient()">
      <span class="glyphicon glyphicon-random"></span>
      Merge
    </button>
    <a ng-href="/client/{{client.id}}/{{getUserInfo().sessionKey}}" target="_blank" class="btn btn-danger btn-xs" ng-show="getUserInfo().role==1" >
      <span class="glyphicon glyphicon-print"></span>
      Print
    </a>
  </div>
  <div class="panel-body">
  	<div class="row">
    	<div class="col-xs-2">
    		<div class="list-group">
    			<a ng-href="#/clients/{{clientID}}?tab=summary" class="list-group-item {{clientView.tab=='summary'?'active':''}}">Summary</a>
    			<a ng-href="#/clients/{{clientID}}?tab=details"   class="list-group-item {{clientView.tab=='details'?'active':''}}">Details</a>
    			<a ng-href="#/clients/{{clientID}}?tab=alerts"   class="list-group-item {{clientView.tab=='alerts'?'active':''}}">Alerts</a>
    			<a ng-href="#/clients/{{clientID}}?tab=casenotes"   class="list-group-item {{clientView.tab=='casenotes'?'active':''}}">Case Notes</a>
    			<a ng-href="#/clients/{{clientID}}?tab=caseplans"   class="list-group-item {{clientView.tab=='caseplans'?'active':''}}">Case Plans</a>
    			<a ng-href="#/clients/{{clientID}}?tab=callout"   class="list-group-item {{clientView.tab=='callout'?'active':''}}">Callouts</a>
    			<a ng-href="#/clients/{{clientID}}?tab=health"   class="list-group-item {{clientView.tab=='health'?'active':''}}">Health</a>
    			<a ng-href="#/clients/{{clientID}}?tab=assault"   class="list-group-item {{clientView.tab=='assault'?'active':''}}">Assault</a>
    			<a ng-href="#/clients/{{clientID}}?tab=trauma"   class="list-group-item {{clientView.tab=='trauma'?'active':''}}">Trauma</a>
    			<a ng-href="#/clients/{{clientID}}?tab=attachments"   class="list-group-item {{clientView.tab=='attachments'?'active':''}}">Attachments</a>
    		</div>
    	</div>
    	<div class="col-xs-10">
          <div class="horizontal-spacer"></div>
    	  <ng-include src="getCurrentTemplate()"></ng-include>
    	</div>
    </div>
  </div>
</div>

<div class="modal {{clientView.showMergeDialog?'show':'hide'}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button class="close" ng-click="clientView.showMergeDialog=false">&times;</button>
              <h4 class="modal-heading">Select Client To Merge With</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                  <div class="col-xs-8">
                    <input type="text" class="form-control" placeholder="search" ng-model="clientPickerFilter"/>
                  </div>
                  <div class="col-xs-4">
                    <button class="btn btn-primary" ng-click="loadClients(clientPickerFilter)">
                      <span class="glyphicon glyphicon-filter"></span>
                      Filter
                    </button>
                  </div>
              </div>
              <table class="table table-striped table-codensed">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Other Name</th>
                      <th>Select</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat = "c in clients">
                      <td ng-bind="c.id"></td>
                      <td ng-bind="c.firstname"></td>
                      <td ng-bind="c.lastname"></td>
                      <td ng-bind="c.othername"></td>
                      <td>
                        <button class="btn btn-xs btn-primary" ng-click="mergeClient(c)">Merge</button>
                      </td>
                    </tr>
                  </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
