<div class="row">
  <div class="col-xs-7">
    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control input-sm" ng-model="caseNoteParams.substring"/>
      </div>
      <div class="form-group">
         <button class="btn btn-primary btn-sm" ng-click="loadCaseNotes()">
          <span class="glyphicon glyphicon-filter"></span>
          Filter
        </button>
      </div>
    </form>
    <div class="horizontal-spacer"></div>
    <div class="panel panel-primary" ng-repeat="casenote in caseNotes">
      <div class="panel-heading">
        <strong>ID:&nbsp;</strong> {{casenote.id}} &nbsp;
        <strong>By:&nbsp;</strong> {{casenote.author}} &nbsp;
        <strong>On:&nbsp;</strong> {{casenote.dateofservice}} &nbsp;
        <strong>At:&nbsp;</strong> {{casenote.timeofservice}} &nbsp;
        <button class="btn btn-sm" ng-click="selectCaseNote(casenote)">View Details</button>
        <button class="btn btn-sm btn-danger" ng-click="deleteCaseNote(casenote)">Delete Casenote</button>
      </div>
      <div class="panel-body">
        {{casenote.note}}
      </div>
    </div>
  </div>
  <div class="col-xs-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="panel-heading">
          Case Note
        </strong>
        <button class="btn btn-sm btn-primary" ng-click="createCaseNote()">
          <span class="glyphicon glyphicon-plus"></span>
          Create Case Note
        </button>
      </div>
      <div class="panel-body">
        <form role="form">
          <div>
            <label class="control-label">Duration (Minutes)</label>
            <select class="form-control input-sm" ng-model="currentCaseNote.duration"  ng-options="min for min in caseNoteMinutes"></select>
          </div>
          <div>
            <label class="control-label">Case Note Reason</label>
            <select class="form-control input-sm" ng-model="currentCaseNote.reason_id" ng-options="r.name for r in caseNoteReasons"></select>
          </div>
          <div>
            <label class="control-label">Service Provided</label>
            <select class="form-control input-sm" ng-model="currentCaseNote.contacttype_id" ng-options="c.name for c in caseNoteContactTypes"></select>
          </div>
          <div>
            <label class="control-label">Date Of Service</label>
            <input type="text" data-date-format="DD/MM/YYYY"  ng-model="currentCaseNote.dateofservice" datepicker class="form-control input-sm">
          </div>
          <div>
            <label class="control-label">Time Of Service</label>
            <input type="text" class="form-control input-sm" ng-model="currentCaseNote.timeofservice" timepicker>
          </div>
          <div>
            <label class="control-label">Note</label>
            <textarea class="form-control input-sm" ng-model="currentCaseNote.note"></textarea>
          </div>
          <div>
            <label class="control-label">Outcome</label>
            <select class="form-control input-sm"
                    ng-model="currentCaseNote.outcome_id"
                    ng-options="c.name for c in caseNoteOutcomes"></select>
          </div>
        </form>
      </div>
      <div class="panel-footer text-right">
        <button class="btn btn-success btn-sm" ng-click="saveCaseNote()">
          <span class="glyphicon glyphicon-save"></span>
          Save
        </button>
         <button class="btn btn-danger btn-sm" ng-click="cancelCaseNote()">
          <span class="glyphicon glyphicon-cancel"></span>
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
