<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">Clients</span>
        <button class="btn btn-xs btn-default" ng-click="createNewClient()">
            <span class="glyphicon glyphicon-plus"></span> New Client
        </button>
    </div>
    <div class="panel-body">
      <form class="form form-inline">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Filter"
                       ng-model="queryParams.substring" on-enter="doSearch">
            </div>
            <label class="control-label checkbox">
              <input type="checkbox" ng-model="queryParams.mineOnly" ng-change="doSearch()"/>
              Mine Only
            </label>
            <button class="btn btn-primary" ng-click="simpleSearch()">
              <span class="glyphicon glyphicon-filter"></span> Filter
            </button>
            <button class="btn btn-primary" ng-click="clientView.showAdvancedSearch=true">
                <span class="glyphicon glyphicon-search"></span> Advanced Search
            </button>
        </form>
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Other Name</th>
                <th>File Number</th>
                <th>Date Of Birth</th>
            </tr>
            </thead>
            <tr ng-repeat="client in clients" class="pointable"
                ng-click="selectClient(client)">
                <td><a ng-href="#/clients/{{client.id}}?tab=summary" ng-bind="client.id"></a></td>
                <td ng-bind="client.firstname"></td>
                <td ng-bind="client.lastname"></td>
                <td ng-bind="client.othername"></td>
                <td ng-bind="client.filenumber"></td>
                <td ng-bind="client.dateofbirth"></td>
            </tr>
            </tbody>
        </table>
        <div class="text-center">
            <ul class="pagination table-pagination">
                <li><a href="" ng-click="movePrevious()">&laquo;</a></li>
                <li ng-repeat="page in getPages()"
                    class="{{page==currentPage?'active':''}}"><a href=""
                                                                 ng-click="goToPage(page)"> <span ng-bind="page"></span>
                </a></li>
                <li><a href="" ng-click="moveNext()">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>

<ng-include src="'/views/newclientmodal.html'"></ng-include>

<div class="modal {{clientView.showSponsorPicker==true?'show':'hide'}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button class="close" ng-click="clientView.showSponsorPicker=false">&times</button>
              <h4 class="modal-title">Select Sponsors</h4>
            </div>
            <div class="modal-body">
              sponsor list here
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" ng-click="clientView.showSponsorPicker=false">
                <span class="glyphicon glyphicon-cancel"></span>
                Cancel
              </button>
            </div>
        </div>
    </div>
</div>

<div class="modal {{clientView.showAdvancedSearch==true?'show':'hide'}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button class="close" ng-click="clientView.showAdvancedSearch=false">&times</button>
              <h4 class="modal-title">Search</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-3">
                  <select class="form-control"
                          ng-model="currentCriteria.prop"
                          ng-options="p for p in ['ID','firstname', 'lastname', 'othername', 'dateofbirth', 'filenumber', 'counsellor', 'group']"></select>
                </div>
                <div class="col-xs-3">
                  <div ng-show="currentCriteria.prop=='firstname'||currentCriteria.prop=='lastname'||currentCriteria.prop=='othername'">
                    <select class="form-control"
                          ng-model="currentCriteria.op"
                          ng-options="p for p in ['equals', 'startsWith', 'endsWith', 'contains']"></select>
                  </div>
                  <div ng-show="currentCriteria.prop=='filenumber'|| currentCriteria.prop=='dateofbirth'||currentCriteria.prop=='ID'">
                    <select class="form-control"
                          ng-model="currentCriteria.op"
                          ng-options="p for p in ['=', '>', '<', '>=', '<=']"></select>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div ng-show="currentCriteria.prop=='firstname'||currentCriteria.prop=='lastname'||currentCriteria.prop=='othername'">
                    <input type="text" class="form-control" ng-model="currentCriteria.value"/>
                  </div>
                  <div ng-show="currentCriteria.prop=='filenumber'||currentCriteria.prop=='ID'">
                    <input type="number" class="form-control" ng-model="currentCriteria.value"/>
                  </div>
                  <div ng-show="currentCriteria.prop=='dateofbirth'">
                   <input type="text" datepicker class="form-control" ng-model="currentCriteria.value"/>
                  </div>
                  <div ng-show="currentCriteria.prop=='group'" class="filter-checks">
                    <label class="checkbox control-label" ng-repeat="g in groups">
                      <span ng-bind="g"></span>
                      <input type="checkbox"  ng-model="currentCriteria[g]" ng-change="addGroup(currentCriteria[g], g)">
                    </label>
                  </div>

                  <div ng-show="currentCriteria.prop=='counsellor'" class="filter-checks">
                    <label class="checkbox control-label" ng-repeat="u in users">
                      <span ng-bind="u.username"></span>
                      <input type="checkbox"
                             ng-model="currentCriteria[u.username]" ng-change="addCounsellor(currentCriteria[u.username], u)">
                    </label>

                 </div>
                </div>
                <div class="col-xs-2">
                  <button class="btn btn-md btn-success"
                          ng-click="addCriteria()"
                          ng-show="currentCriteria.prop && currentCriteria.op && currentCriteria.value">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Add
                  </button>
                </div>
                <div class="col-xs-12">
                  <div class="horizontal-spacer"></div>
                  <table class="table table-condensed">
                    <tr ng-repeat="p in queryParams.params">
                      <td ng-bind="p.prop" ng-show="p.op != 'is'"></td>
                      <td ng-bind="p.op" ng-show="p.op != 'is'"></td>
                      <td ng-bind="p.value" ng-show="p.op != 'is'"></td>
                      <td ng-show="p.op != 'is'">
                        <a href="" ng-click="removeCriteria(p.prop)">
                          <span class="glyphicon glyphicon-cancel"></span>
                          Remove
                        </a>
                      </td>
                    </tr>
                    <tr ng-show="queryParams.counsellors">
                      <td>Counsellors</td>
                      <td></td>
                      <td>
                        <span ng-repeat="c in queryParams.counsellors" ng-bind="c.username+' '"></span>
                      </td>
                      <td>
                        <a href="" ng-click="removeCriteria('counsellor')">
                          <span class="glyphicon glyphicon-remove"></span>
                          Remove
                        </a>
                      </td>
                    </tr>
                    <tr ng-show="queryParams.groups">
                      <td>Groups</td>
                      <td></td>
                      <td>
                        <span ng-repeat="g in queryParams.groups" ng-bind="g+' '"></span>
                      </td>
                      <td>
                        <a href="" ng-click="removeCriteria('group')">
                          <span class="glyphicon glyphicon-remove"></span>
                          Remove
                        </a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button ng-click="advancedSearch()" class="btn btn-success" ng-click="clientView.showAdvancedSearch=false">
                <span class="glyphicon glyphicon-check"></span>
                Submit
              </button>
              <button class="btn btn-danger" ng-click="clientView.showAdvancedSearch=false">
                <span class="glyphicon glyphicon-cancel"></span>
                Cancel
              </button>
            </div>
        </div>
    </div>
</div>
