<div class="row">
  <fieldset>
    <legend>Trauma</legend>
  </fieldset>
  <div class="col-xs-12">
    <div>
      <label class="control-label">Trauma History</label>
      <textarea ng-model="trauma.traumahistory" class="form-control"></textarea>
    </div>
    <div>
      <label class="control-label">
        Is there anything else you would like me to know?
      </label>
      <textarea ng-model="trauma.otherinfo" class="form-control"></textarea>
    </div>
    <div>
      <label class="control-label">Notes</label>
      <textarea ng-model="trauma.notes" class="form-control"></textarea>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <hr />
    <button class="btn btn-success" ng-click="saveTrauma()">
      <span class="glyphicon glyphicon-save"></span>
      Save
    </button>
    <button class="btn btn-danger" ng-click="cancelTrauma()">
      <span class="glyphicon glyphicon-remove"></span>
      Cancel
    </button>
  </div>
</div>
