<form role="form">
  <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label class="control-label">Status</label>
          <select class="form-control input-sm"
                  ng-model="currentCard.status"
                  ng-options="s for s in cepStatuses"></select>
        </div>
        <div class="form-group">
          <label class="control-label">Organization</label>
          <select class="form-control input-sm"
                  ng-model="currentCard.cep_organization_id"
                  ng-options="c.name for c in cepOrganizations"></select>
        </div>
        <div class="form-group">
          <label class="control-label">Name of Contact</label>
          <input type="text" class="form-control input-sm" ng-model="currentCard.contact_name"/>
        </div>
        <div class="form-group">
          <label class="control-label">Contact Phone</label>
          <input type="text" class="form-control input-sm" ng-model="currentCard.contact_phone"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="">Service Type</label>
            <select class="form-control input-sm" type="text"
                    ng-options="s for s in serviceTypes"
                    ng-model="currentCard.service_type"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="">Requested Date(s)</label>
            <input type="text" class="input-sm form-control" ng-model="currentCard.requested_date"/>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label class="control-label">Contact Email</label>
          <input type="text" class="form-control input-sm" ng-model="currentCard.contact_email"/>
        </div>
        <div class="form-group">
          <label class="control-label">Address Or Location</label>
          <input type="text" class="form-control input-sm" ng-model="currentCard.address"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="">Number of Participants</label>
            <input type="text" class="input-sm form-control" ng-model="currentCard.number_of_participants"/>
        </div>
        <div class="form-group">
            <label class="control-label checkbox">
               <input type="checkbox" ng-model="currentCard.fee_charged"/>
              Fee Charged
            </label>
            <button class="btn btn-xs btn-primary" ng-show="currentCard.fee_charged" ng-click="cepView.showInvoice = true">
              Invoice Details
            </button>
        </div>
        <div class="form-group">
            <label class="control-label" for="">Requested Time</label>
            <input type="text" class="input-sm form-control" ng-model="currentCard.requested_time"/>
        </div>
        <div class="form-group">
          <label class="control-label">Comments</label>
          <textarea class="form-control input-sm" ng-model="currentCard.comments"/>
        </div>
      </div>
  </div>
</form>
<div class="text-right">
  <button class="btn-success btn" ng-click="saveCard()">
      <span class="glyphicon glyphicon-check"></span>
      Save
  </button>
</div>

<div class="modal {{cepView.showInvoice?'show':'hide'}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button class="close" ng-click="cancelInvoice()">&times;</button>
              <h4 class="modal-heading">Invoice Details</h4>
            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <button class="btn btn-sm btn-default" ng-click="copyDetailsFromCard()">
                    <span class="glyphicon glyphicon-transfer"></span>
                    Copy details from card
                  </button>
                </div>
                <div class="form-group">
                  <label class="control-label">Organization</label>
                  <input class="form-control" ng-model="currentInvoice.organization"/>
                </div>
                <div class="form-group">
                  <label class="control-label">Contact Name</label>
                  <input class="form-control" ng-model="currentInvoice.contact_name"/>
                </div>
                <div class="form-group">
                  <label class="control-label">Contact Phone</label>
                  <input class="form-control" ng-model="currentInvoice.contact_phone"/>
                </div>
                <div class="form-group">
                  <label class="control-label">Contact Email</label>
                  <input class="form-control" ng-model="currentInvoice.contact_email"/>
                </div>
                <div class="form-group">
                  <label class="control-label">Notes</label>
                  <textarea class="form-control" ng-model="currentInvoice.note"/>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" ng-click="saveInvoice()">
                  <span class="glyphicon glyphicon-check"></span>
                  Save
              </button>
              <button class="btn btn-danger" ng-click="cancelInvoice()">
                  <span class="glyphicon glyphicon-remove"></span>
                  Cancel
              </button>
            </div>
        </div>
    </div>
</div>
