<div>
  <ul class="nav nav-tabs">
    <li class="{{cepView.tab=='details'?'active':''}}">
      <a href="" ng-click="cepView.tab='details'">Details</a>
    </li>
    <li class="{{cepView.tab=='sessionPlan'?'active':''}}">
      <a href="" ng-click="cepView.tab='sessionPlan'">Session Plan</a>
    </li>
    <li class="{{cepView.tab=='participantEvaluation'?'active':''}}">
      <a href="" ng-click="cepView.tab='participantEvaluation'">Participant Evaluation</a>
    </li>
    <li class="{{cepView.tab=='facilitatorEvaluation'?'active':''}}">
      <a href="" ng-click="cepView.tab='facilitatorEvaluation'">Facilitator Evalution</a>
    </li>
    <li class="{{cepView.tab=='attachments'?'active':''}}">
      <a href="" ng-click="cepView.tab = 'attachments'">Attachments</a>
    </li>
  </ul>

  <div class="horizontal-spacer"></div>
  <div ng-show="cepView.tab == 'details'">
    <div ng-include="'/views/eti-card-form.html'"></div>
  </div>
  <div ng-show="cepView.tab == 'sessionPlan'">
    <form class="form form-inline" action="">
      <div class="form-group">
         <input type="text" class="form-control" ng-model="currentSessionPlan.name" placeholder="Session Plan Name"/>
      </div>
      <div class="form-group">
         <label>Session Duration:</label>
         <strong ng-bind="getSessionPlanMinutes()">0</strong>
         <span>Minutes</span>
         <button class="btn btn-success btn-sm" ng-click="saveSessionPlan()">
             <span class="glyphicon glyphicon-check"></span>
             Save Session
         </button>
         <button class="btn btn-primary btn-sm" ng-show="currentSessionPlan.id" ng-click="createTopic()">
             <span class="glyphicon glyphicon-plus"></span>
             Add Topic
         </button>
      </div>
    </form>
    <div class="horizontal-spacer"></div>
    <table class="table table-striped table-codensed">
        <thead>
          <tr>
            <th>Topic</th>
            <th>Aim</th>
            <th>Activity/resource</th>
            <th>Duration</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="topic in currentTopics">
            <td ng-bind="topic.topic"></td>
            <td ng-bind="topic.aim"></td>
            <td ng-bind="topic.resource"></td>
            <td ng-bind="topic.duration"></td>
            <td>
              <a href="" ng-click="editTopic(topic)">
                <i class="glyphicon glyphicon-edit"></i>
                Edit
              </a>
              <a href="" ng-click="deleteTopic(topic)">
                <i class="glyphicon glyphicon-remove"></i>
                Delete
              </a>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
  <div ng-show="cepView.tab == 'participantEvaluation'">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Strongly Disagree</th>
          <th>Disagree</th>
          <th>Neutral</th>
          <th>Agree</th>
          <th>Strongly Agree</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat = "e in participantEvaluations" ng-show="e.feedback_type=='AGREEMENT'">
          <td ng-bind="e.question"></td>
          <td>
            <label class="radio control-label">
              <input type="checkbox" ng-model="e.selection"
                     ng-checked="e.feedback_value=='STRONGLY_DISAGREE'"
                     ng-click="setAgreeValue(e,!(e.feedback_value=='STRONGLY_DISAGREE'),'STRONGLY_DISAGREE')"/>
            </label>
          </td>
          <td>
            <label class="radio control-label">
              <input type="checkbox" ng-checked="e.feedback_value=='DISAGREE'"
                     ng-click="setAgreeValue(e,!(e.feedback_value=='DISAGREE'),'DISAGREE')"/>
            </label>
          </td>
          <td>
            <label class="radio control-label">
              <input type="checkbox" ng-checked="e.feedback_value=='NEUTRAL'"
                     ng-click="setAgreeValue(e,!(e.feedback_value=='NEUTRAL'),'NEUTRAL')"/>
            </label>
          </td>
          <td>
            <label class="radio control-label">
              <input type="checkbox" ng-checked="e.feedback_value=='AGREE'"
                     ng-click="setAgreeValue(e,!(e.feedback_value=='AGREE'),'AGREE')"/>
            </label>
          </td>
          <td>
            <label class="radio control-label">
              <input type="checkbox" ng-checked="e.feedback_value=='STRONGLY_AGREE'"
                     ng-click="setAgreeValue(e,!(e.feedback_value=='STRONGLY_AGREE'),'STRONGLY_AGREE')"/>
            </label>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <div class="form-group" ng-repeat = "e in participantEvaluations" ng-show="e.feedback_type=='COMMENT' || e.feedback_type=='DATE'">
        <div ng-show="e.feedback_type == 'COMMENT'">
           <label class="control-label" ng-bind="e.question"></label>
           <textarea class="form-control" ng-model="e.feedback_value">
           </textarea>
        </div>
        <div ng-show="e.feedback_type == 'DATE'">
          <label class="control-label" ng-bind="e.question"></label>
          <input type="text" datepicker class="form-control" ng-model="e.feedback_value"/>
        </div>
      </div>
    </div>
    <div class="text-right">
      <button class="btn btn-success" ng-click="saveEvaluations()">
        <span class="glyphicon glyphicon-check"></span>
        Save
      </button>
    </div>
  </div>
  <div ng-show="cepView.tab == 'facilitatorEvaluation'">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Strongly Disagree</th>
          <th>Disagree</th>
          <th>Neutral</th>
          <th>Agree</th>
          <th>Strongly Agree</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat = "e in facilitatorEvaluations" ng-show="e.feedback_type=='AGREEMENT'">
          <td ng-bind="e.question"></td>
          <td>
            <label class="radio control-label">
              <input type="checkbox" ng-model="e.selection"
                     ng-checked="e.feedback_value=='STRONGLY_DISAGREE'"
                     ng-click="setAgreeValue(e,!(e.feedback_value=='STRONGLY_DISAGREE'),'STRONGLY_DISAGREE')"/>
            </label>
          </td>
          <td>
            <label class="radio control-label">
              <input type="checkbox" ng-checked="e.feedback_value=='DISAGREE'"
                     ng-click="setAgreeValue(e,!(e.feedback_value=='DISAGREE'),'DISAGREE')"/>
            </label>
          </td>
          <td>
            <label class="radio control-label">
              <input type="checkbox" ng-checked="e.feedback_value=='NEUTRAL'"
                     ng-click="setAgreeValue(e,!(e.feedback_value=='NEUTRAL'),'NEUTRAL')"/>
            </label>
          </td>
          <td>
            <label class="radio control-label">
              <input type="checkbox" ng-checked="e.feedback_value=='AGREE'"
                     ng-click="setAgreeValue(e,!(e.feedback_value=='AGREE'),'AGREE')"/>
            </label>
          </td>
          <td>
            <label class="radio control-label">
              <input type="checkbox" ng-checked="e.feedback_value=='STRONGLY_AGREE'"
                     ng-click="setAgreeValue(e,!(e.feedback_value=='STRONGLY_AGREE'),'STRONGLY_AGREE')"/>
            </label>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <div class="form-group" ng-repeat = "e in facilitatorEvaluations" ng-show="e.feedback_type=='COMMENT' || e.feedback_type == 'DATE'">
        <div ng-show="e.feedback_type == 'COMMENT'">
           <label class="control-label" ng-bind="e.question"></label>
           <textarea class="form-control" ng-model="e.feedback_value">
           </textarea>
        </div>
        <div ng-show="e.feedback_type == 'DATE'">
          <label class="control-label" ng-bind="e.question"></label>
          <input type="text" datepicker class="form-control" ng-model="e.feedback_value"/>
        </div>
      </div>
    </div>
    <div class="text-right">
      <button class="btn btn-success" ng-click="saveEvaluations()">
        <span class="glyphicon glyphicon-check"></span>
        Save
      </button>
    </div>
  </div>
  <div ng-show="cepView.tab == 'attachments'">
    <div ng-include="'/views/cep-attachments.html'"></div>
  </div>
</div>


<div class="modal {{cepView.showTopicModal?'show':'hide'}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" ng-click="cancelTopic()">&times;</button>
        <h4 class="Modal Heading">Topic</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="control-label">Topic</label>
            <input class="form-control" ng-model="currentTopic.topic" type="text" />
          </div>
          <div class="form-group">
            <label class="control-label">Aim</label>
            <input class="form-control" ng-model="currentTopic.aim" type="text"/>
          </div>
          <div class="form-group">
            <label class="control-label">Resource/Activity</label>
            <input class="form-control" ng-model="currentTopic.resource" type="text"/>
          </div>
          <div class="form-group">
            <label class="control-label">Duration</label>
            <input class="form-control" ng-model="currentTopic.duration" type="text"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" ng-click="saveTopic()">
            <span class="glyphicon glyphicon-check"></span>
            Save
        </button>
        <button class="btn btn-cancel" ng-click="cancelTopic()">
            <span class="glyphicon glyphicon-check"></span>
            Cancel
        </button>
      </div>
    </div>
  </div>
</div>
