<div class="col-xs-4 col-xs-offset-4">
  <div class="panel panel-default" ng-show="userView.showLogin">
    <div class="panel-heading">
      <h4 class="panel-title">Login</h4>
    </div>
    <div class="panel-body">
      <form role="form">
        <label class="control-label">Username</label>
        <input type="text" class="form-control" ng-model="user.username" on-enter="login"/>
        <label class="control-label">Password</label>
        <input type="password"  class="form-control" ng-model="user.password" on-enter="login"/>
      </form>
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-success" ng-click="login()"><span class="glyphicon glyphicon-log-in"></span> Login</button>
      <a href="" ng-click="userView.showLogin=false">Forgot password?</a>
    </div>
    <hr/>
    <div class="text-center">
      <h4>Login Using Google Account</h4>
      <a class="btn btn-primary" href="/googleauth">Google</a>
    </div>
    <br/>
  </div>

  <div class="panel panel-default" ng-show="!userView.showLogin">
    <div class="panel-heading">
      <h4 class="panel-title">Reset Password</h4>
    </div>
    <div class="panel-body">
      <form role="form">
        <label class="control-label">Email</label>
        <input type="text" class="form-control" ng-model="email" on-enter="resetPassword(email)"/>
      </form>
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-success" ng-click="resetPassword(email)">
        <span class="glyphicon glyphicon-refresh"></span>
        Reset Password
      </button>
      <button class="btn btn-danger" ng-click="userView.showLogin=true"><span class="glyphicon glyphicon-chevron-left"></span>Back To Login</button>
    </div>
  </div>
</div>
