<div class="navbar navbar-inverse top-menu">
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">CaseTrack 2.0</a>
    </div>
    <ul class="nav navbar-nav" ng-show="isUserLoggedIn()">
        <li class="{{session.currentPage=='clients'?'active':''}}"><a href="#/clients">Clients</a></li>
        <li class="dropdown" ng-show="myAlerts.length > 0">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-bell client-alert"></span>
                {{myAlerts.length}} Alert(s)
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="alert in myAlerts">
                    <a ng-href="#/clients/{{alert.client_id}}?tab=alerts">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{alert.client}}
                    </a>
                </li>
            </ul>
        </li>
        <li class="{{session.currentPage=='cep'?'active':''}}"><a href="#/cep">Community Engagement</a></li>
        <li class="{{session.currentPage=='article'?'active':''}}"><a href="#/article">Knowledge Base</a></li>
        <li class="{{session.currentPage=='staticinfo'?'active':''}}" ng-show="getUserInfo().role==1"><a href="#/staticinfo">Configuration</a></li>
        <li class="{{session.currentPage=='reports'?'active':''}}"><a href="">Reports</a></li>
        <li class="{{session.currentPage=='users'?'active':''}}" ng-show="getUserInfo().role==1"><a href="#/users">Users</a></li>
        <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-user"></span>
                <span ng-bind="getUserInfo().username"></span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                <li><a href="" ng-click="changePassword()"><span class="glyphicon glyphicon-edit"></span> Change
                    Password</a></li>
            </ul>
        </li>
    </ul>
</div>
