<div class="modal {{showNewClientModal==true?'show':'hide'}}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" ng-click="cancelNewClient()">&times;</button>
				<h4 class="modal-title">New Client</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<label class="control-label">First Name</label>
					<input type="text" class="form-control" ng-model="newClient.firstName"/>
					<label class="control-label">Last Name</label>
					<input type="text" class="form-control" ng-model="newClient.lastName"/>
					<label class="control-label">Other Name</label>
					<input type="text" class="form-control" ng-model="newClient.otherName"/>
					<label class="control-label">File Number</label>
					<input type="text" class="form-control" ng-model="newClient.fileNumber"/>
					<label class="control-label">Date Of Birth</label>
					<input type="text"  class="form-control" datepicker data-date-format="DD/MM/YYYY"  ng-model="newClient.dateofbirth"/>
					<label class="control-label">First Contact Date</label>
					<input type="text" class="form-control" datepicker data-date-format="DD/MM/YYYY"  ng-model="newClient.dateofcontact"/>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success" ng-click="saveNewClient()">
					<span class="glyphicon glyphicon-save"></span>
					Save
				</button>
				<button class="btn btn-danger" ng-click="cancelNewClient()">
					<span class="glyphicon glyphicon-remove"></span>
					Cancel
				</button>
			</div>
		</div>
	</div>
</div>
