<div class="modal {{userView.showNewUserModal?'show':'hide'}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button class="close" ng-click="cancelNewUser()">&times;</button>
              <h4 class="modal-title">New User</h4>
            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                    <label class="control-label" for="">Username</label>
                    <input class="form-control" ng-model="currentUser.username" type="text"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="">Email</label>
                    <input class="form-control" ng-model="currentUser.email" type="text" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="">First Name</label>
                    <input class="form-control" ng-model="currentUser.firstname"type="text"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="">Last Name</label>
                    <input class="form-control" ng-model="currentUser.lastname" type="text"/>
                </div>
                <div class="form-group">
                    <label class="control-label checkbox" for="">
                      <input type="checkbox" ng-model="currentUser.role"/>
                      Admin
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label checkbox" for="">
                      <input type="checkbox" ng-model="currentUser.active"/>
                      Active
                    </label>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" ng-click="saveNewUser()">
                  <span class="glyphicon glyphicon-check"></span>
                  Save
              </button>
              <button class="btn btn-danger" ng-click="cancelNewUser()">
                  <span class="glyphicon glyphicon-remove"></span>
                  Cancel
              </button>
            </div>
        </div>
    </div>
</div>
