<div>
  <ul class="nav nav-tabs">
    <li class="{{cepView.tab=='details'?'active':''}}">
      <a href="" ng-click="cepView.tab='details'">Details</a>
    </li>
    <li class="{{cepView.tab=='projectNotes'?'active':''}}">
      <a href="" ng-click="cepView.tab='projectNotes'">Project Notes</a>
    </li>
    <li class="{{cepView.tab=='attachments'?'active':''}}">
      <a href="" ng-click="cepView.tab='attachments'">Attachments</a>
    </li>
  </ul>

  <div class="horizontal-spacer"></div>

  <div ng-show="cepView.tab=='details'">
    <div ng-include="'/views/resource-card-form.html'"></div>
    <div class="text-right">
      <button class="btn btn-sm btn-success" ng-click="saveCard()">
        <span class="glyphicon glyphicon-check"></span>
        Save
      </button>
    </div>
  </div>
  <div ng-show="cepView.tab=='projectNotes'">
    <h3>Project Notes</h3>
    <div class="row">
        <div class="col-xs-10">
          <textarea class="form-control" placeholder="Type note" ng-model="currentNote.note"></textarea>
        </div>
        <div class="xs-2">
          <button class="btn btn-success" ng-click="saveNote()">
            <span class="glyphicon glyphicon-check"></span>
            Save
          </button>
        </div>
    </div>
    <div class="horizontal-spacer"></div>
    <div class="list-group">
      <div class="list-group-item" ng-repeat="n in notes">
        <p ng-bind="n.note"></p>
        <strong ng-bind="n.createdBy"></strong>
        <strong ng-bind="n.createdOn"></strong>
      </div>
    </div>
</div>

  <div ng-show="cepView.tab == 'attachments'">
    <div ng-include="'/views/cep-attachments.html'"></div>
  </div>
</div>
