<form role="form">
   <div class="form-group">
     <label class="control-label">Status</label>
     <select class="form-control input-sm"
             ng-model="currentCard.status"
             ng-options="s for s in cepStatuses"></select>
   </div>
  <div class="form-group">
    <label class="control-label">Name Of Resource</label>
    <input class="form-control input-sm" ng-model="currentCard.resource_name"/>
  </div>
  <div class="form-group">
    <label class="control-label" for="">Author(s)</label>
    <input class="form-control input-sm" type="text" ng-model="currentCard.author_name"/>
  </div>
  <div class="form-group">
      <label class="control-label">Resource Type</label>
      <select class="form-control input-sm" type="text"
              ng-options="r for r in resourceTypes"
              ng-model="currentCard.resource_type"/>
  </div>
  <div class="form-group">
    <label class="control-label">Contact Phone</label>
    <input class="form-control input-sm" ng-model="currentCard.contact_phone"/>
  </div>
  <div class="form-group">
    <label class="control-label">Contact Email</label>
    <input class="form-control input-sm" ng-model="currentCard.contact_email"/>
  </div>
  <div class="form-group">
    <label class="control-label">Comments</label>
    <textarea class="form-control input-sm" ng-model="currentCard.comments">
    </textarea>
  </div>
</form>
