<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">Users</span>
        <button class="btn btn-xs btn-default" ng-click="createNewUser()">
            <span class="glyphicon glyphicon-plus"></span> New User
        </button>
    </div>
    <div class="panel-body">
        <form class="form form-inline">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Filter"
                       ng-model="searchParams.query" on-enter="doSearch">
            </div>
            <button class="btn btn-primary" ng-click="doSearch()">
                <span class="glyphicon glyphicon-filter"></span> Filter
            </button>
        </form>
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
              <th>Username</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tr ng-repeat="user in users" ng-click="selectClient(client)">
              <td ng-bind="user.username"></td>
                <td ng-bind="user.email"></td>
                <td ng-bind="user.firstname"></td>
                <td ng-bind="user.lastname"></td>
                <td ng-bind="user.role==1?'Admin':'User'"></td>
                <td ng-bind="user.active?'Active':'Inactive'"></td>
                <td >
                  <a href="" ng-click="editUser(user)">
                    <span class="glyphicon glyphicon-edit"></span>
                    Edit
                  </a>
                  <a href="" ng-click="resetPassword(user)">
                    <span class="glyphicon glyphicon-lock"></span>
                    Reset Password
                  </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-include src="'/views/newusermodal.html'"></ng-include>
<!-- <ng-include src="'/views/editusermodal.html'"</ng-include> -->
<!-- <ng-include src="'/views/changeuserpasswordmodal.html'"</ng-include> -->
