<div class="modal fade" id="changePasswordDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" ng-click="closeDialog()">&times;</button>
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <label class="control-label">Old Password</label>
          <input type="password" class="form-control" ng-model="passwords.oldPassword"/>
          <label class="control-label">New Password</label>
          <input type="password" class="form-control" ng-model="passwords.newPassword"/>
          <label class="control-label">Confirm New Password</label>
          <input type="password" class="form-control" ng-model="passwords.newPasswordConfirmation"/>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" ng-click="changePassword()"><span class="glyphicon glyphicon-save"></span> Submit</button>
        <button class="btn btn-danger" ng-click="closeDialog()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
      </div>
    </div>
  </div>
</div>
