<div class="row">
  <div class="col-xs-12">
    <span>
      <strong>Case Plans</strong>
    </span>
    <button class="btn btn-sm btn-primary" ng-click="showNewCasePlan=true">
      <span class="glyphicon glyphicon-plus"></span>
      New Case Plan
    </button>    
    <table class="table table-stripped">
        <thead>
          <tr>
            <th>Incidents</th>
            <th>Notes</th>
            <th>Counsellor</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="caseplan in caseplans">
            <td ng-bind="caseplan.incident"></td>
            <td ng-bind="caseplan.counsellornotes"></td>
            <td ng-bind="caseplan.counsellor"></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

<div class="modal {{showNewCasePlan?'show':'fade'}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Case Plan</h4>
      </div>
      <div class="modal-body">
        <label class="control-label">Counselling Goal Description</label>
        <textarea class="form-control" ng-model="currentCaseplan.incident"></textarea>
       
        <label class="control-label">Notes To Counsellors</label>
        <textarea class="form-control" ng-model="currentCaseplan.counsellornotes"></textarea>
       
        <label class="control-label">Closure Category</label>
        <select class="form-control"
        ng-model="currentCaseplan.closurecategory_id" ng-options="c.name
        for c in casePlanClosureCategories"></select>
       
        <label class="control-label">Closure Reason</label>
        <textarea class="form-control" ng-model="currentCaseplan.closurereason"></textarea>
      </div>
      <div class="modal-footer text-center">
        <button class="btn btn-success btn-sm" ng-click="saveCaseplan()">
          <span class="glyphicon glyphicon-save"></span>
          Save
        </button>
        <button class="btn btn-danger btn-sm" ng-click="cancelCaseplan()">
          <span class="glyphicon glyphicon-remove"></span>
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

