<div class="panel panel-default">
  <div class="panel-heading">
    <strong class="panel-title" ng-bind="'ID:'+' '+client.id+' - '+client.firstname+' '+client.lastname +' ' + client.othername"></strong>
    &nbsp;<span class="client-alert"><i class="glyphicon glyphicon-exclamation-sign"></i><a href="">4 active alerts</a></span>
  </div>
  <div class="panel-body">
  	<div class="row">
    	<div class="col-xs-2">
    		<div class="list-group">
    			<a href="" ng-click="currentView='summary'" class="list-group-item {{currentView=='summary'?'active':''}}">Summary</a>
    			<a href="" ng-click="currentView='details'" class="list-group-item {{currentView=='details'?'active':''}}">Details</a>
    			<a href="" ng-click="currentView='alerts'" class="list-group-item {{currentView=='alerts'?'active':''}}">Alerts</a>
    			<a href="" ng-click="currentView='casenotes'" class="list-group-item {{currentView=='casenotes'?'active':''}}">Case Notes</a>
    			<a href="" ng-click="currentView='caseplans'" class="list-group-item {{currentView=='caseplans'?'active':''}}">Case Plans</a>
    			<a href="" ng-click="currentView='callout'" class="list-group-item {{currentView=='callout'?'active':''}}">Callouts</a>
    			<a href="" ng-click="currentView='health'" class="list-group-item {{currentView=='health'?'active':''}}">Health</a>
    			<a href="" ng-click="currentView='assault'" class="list-group-item {{currentView=='assault'?'active':''}}">Assault</a>
    			<a href="" ng-click="currentView='trauma'" class="list-group-item {{currentView=='trauma'?'active':''}}">Trauma</a>
    			<a href="" ng-click="currentView='attachments'" class="list-group-item {{currentView=='attachments'?'active':''}}">Attachments</a>
    		</div>
    	</div>
    	<div class="col-xs-10">
    		<ng-include src="'/views/client-'+currentView+'.html'"></ng-include>
    	</div>
    </div>
  </div>
</div>
