<div class="panel panel-default">
  <div class="panel-heading">
    <span class="panel-title">Clients</span>
    <button class="btn btn-xs btn-default" ng-click="createNewClient()">
      <span class="glyphicon glyphicon-plus"></span> New Client
    </button>
  </div>
  <div class="panel-body">
    <form class="form form-inline">
      <div class="form-group">
	<input type="text" class="form-control" placeholder="Filter"
	       ng-model="queryParams.substring" on-enter="doSearch">
      </div>
      <label class="control-label checkbox"> <input type="checkbox"
				                    ng-model="queryParams.mineOnly" ng-change="doSearch()" />Mine Only
      </label> <label class="control-label checkbox"> <input
				                         type="checkbox" ng-model="queryParams.samssaOnly"
				                         ng-change="doSearch()" /> SAMSSA Only
      </label>
      <button class="btn btn-primary" ng-click="loadClients()">
	<span class="glyphicon glyphicon-filter"></span> Filter
      </button>
    </form>
    <table class="table table-condensed table-striped">
      <thead>
	<tr>
	  <th>ID</th>
	  <th>First Name</th>
	  <th>Last Name</th>
	  <th>Other Name</th>
	  <th>File Number</th>
	  <th>Date Of Birth</th>
	  <th>Gender</th>
	</tr>
      </thead>     
      <tr ng-repeat="client in clients" class="pointable"
	  ng-click="selectClient(client)">
	<td><a ng-href="#/clients/{{client.id}}" ng-bind="client.id"></a></td>
	<td ng-bind="client.firstname"></td>
	<td ng-bind="client.lastname"></td>
	<td ng-bind="client.othername"></td>
	<td ng-bind="client.filenumber"></td>
	<td ng-bind="client.dateofbirth"></td>
	<td ng-bind="client.gender"></td>
      </tr>
</tbody>
</table>
<div class="text-center">
  <ul class="pagination">
	<li><a href="" ng-click="movePrevious()">&laquo;</a></li>
	<li ng-repeat="page in getPages()"
	    class="{{page==currentPage?'active':''}}"><a href=""
					                 ng-click="goToPage(page)"> <span ng-bind="page"></span>
	</a></li>
	<li><a href="" ng-click="moveNext()">&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>

<ng-include src="'/views/newclientmodal.html'"></ng-include>
