<div class="row">
  <fieldset>
    <legend>Callout</legend>
  </fieldset>
  <div class="col-xs-6">
    <form role="form">
      <div>
        <label class="control-label">Date Of Contact</label>
        <input type="text" ng-model="currentCallout.dateofcontact" class="form-control input-sm" datepicker/>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div>
            <label class="control-label checkbox">
              SACAT
              <input type="checkbox" ng-model="currentCallout.sacat">
            </label>
          </div>
          <div>
            <label class="control-label checkbox">
              Other
              <input type="checkbox" ng-model="currentCallout.otherstatment">
            </label>
          </div>
        </div>
        <div class="col-xs-6">
          <div>
            <label class="control-label checkbox">
              Informal Statement
              <input type="checkbox" ng-model="currentCallout.informalstatement">
            </label>
          </div>
          <div>
            <label class="control-label checkbox">
              Incomplete Statement
              <input type="checkbox" ng-model="currentCallout.incompletestatement">
            </label>
          </div>
        </div>
      </div>
      <div>
        <label class="control-label">Specify Other Statement</label>
        <input type="text" ng-model="currentCallout.otherstatementspecify" class="form-control input-sm">
      </div>
      <div>
        <label class="control-label">Police Officer 1</label>
        <input type="text" ng-model="currentCallout.policeofficer1" class="form-control input-sm">
      </div>
      <div>
        <label class="control-label">Police Officer 2</label>
        <input type="text" ng-model="currentCallout.policeofficer2" class="form-control input-sm">
      </div>
      <div>
        <label class="control-label checkbox">
          Charges Laid
          <input type="checkbox" ng-model="currentCallout.chargeslaid">
        </label>
      </div>
      <div>
        <label class="control-label">
          Details about any charges and court proceedings
        </label>
        <input type="text" ng-model="currentCallout.chargesandcourtdetails" class="form-control input-sm">
      </div>
      <div>
        <label class="control-label">FAMSAC Date</label>
        <input type="text" ng-model="currentCallout.famsacdate" class="form-control input-sm" datepicker>
      </div>
      <div>
        <label class="control-label">
          Attending FAMSAC Staff
        </label>
        <input type="class" ng-model="currentCallout.famsacstaff" class="form-control input-sm">
      </div>
      <div>
        <label class="control-label checkbox">
          Forensic Examination Conducted
          <input type="checkbox" ng-model="currentCallout.forensicexamconducted">
        </label>
      </div>
      <div>
        <label class="control-label">
          Specify Other Examination
        </label>
        <input type="text" ng-model="currentCallout.otherexamspecify"  class="form-control input-sm">
      </div>
      <div>
        <label class="control-label">
          Was there any contact with other services following the incident/s?
        </label>
        <input type="text" ng-model="currentCallout.otherservicescontacted"  class="form-control input-sm">
      </div>
      <div>
        <label class="control-label">Notes</label>
        <textarea ng-model="currentCallout.notes"  class="form-control input-sm"></textarea>
      </div>
    </form>
  </div>
  <div class="col-xs-6">
    <form>
      <div>
        <label class="control-label">Police Station</label>
        <input type="text" ng-model="currentCallout.policestation"  class="form-control input-sm">
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div>
            <label class="control-label checkbox">
              General Duties Police
              <input ng-model="currentCallout.generaldutiespolice" type="checkbox">
            </label>
          </div>
          <div>
            <label class="control-label checkbox">
              Formal Statement
              <input ng-model="currentCallout.formalstatement"  type="checkbox">
            </label>
          </div>
        </div>
        <div class="col-xs-6">
          <div>
            <label class="control-label checkbox">
              <input type="checkbox" ng-model="currentCallout.meetandgreet">
              Meet & Greet/Discuss Process with police
            </label>
          </div>
          <div>
            <label class="control-label checkbox">
              Other
              <input  type="checkbox" ng-model="currentCallout.otherpolice">
            </label>
          </div>
        </div>
        <div>
          <label class="control-label"> CRCC Staff Present</label>
          <input type="text" ng-model="currentCallout.crccstaffpresent"  class="form-control input-sm">
        </div>
        <div>
          <label class="control-label checkbox">
            Pending Further Investigations?
            <input type="checkbox" ng-model="currentCallout.pendingfurtherinvestigation">
          </label>
        </div>
        <div>
          <label class="control-label"> FAMSAC Location</label>
          <input type="text" ng-model="currentCallout.famsaclocation" class="form-control input-sm">
        </div>
        <div class="row">
          <div class="col-xs-6">
            <label class="control-label checkbox">
              <input type="checkbox" ng-model="currentCallout.medicalexamconducted"/>
              Medical Examination Conducted
            </label>
          </div>
          <div class="col-xs-6">
            <label class="control-label checkbox">
              <input type="checkbox" ng-model="currentCallout.otherexam"/>
              Other Examination
            </label>
          </div>
        </div>
        <div>
          <label class="control-label checkbox">
            <input type="checkbox" ng-model="currentCallout.cancontactexternalservices">
            Client Permission To Contact External Services
          </label>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <label class="control-label checkbox">
              <input type="checkbox" ng-model="currentCallout.ischildatrisk"/>
              Is the child at risk of abuse?
            </label>
          </div>
          <div class="col-xs-6">
            <label class="control-label checkbox">
              <input type="checkbox" ng-model="currentCallout.reporttocare"/>
              Report to Care and Protection/DOCS
            </label>
          </div>
        </div>
        <div>
          <label class="control-label">
            Provide the details of any risk, the childs name and contact details
          </label>
          <textarea ng-model="currentCallout.risk"  class="form-control input-sm"/>
        </div>
        <div>
          <label class="control-label checkbox">
            <input type="checkbox" ng-model="currentCallout.policenotified">
            Police Notified
          </label>
        </div>
        <div>
          <label class="control-label">
            Details of offences, offenders and other callout information
          </label>
          <textarea ng-model="currentCallout.othercalloutinfo"  class="form-control input-sm"></textarea>
        </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <hr />
    <div class="col-xs-12 text-center">
      <button class="btn btn-success" ng-click="saveCallout()">
        <span class="glyphicon glyphicon-save"></span>
        Save
      </button>
      <button class="btn btn-danger" ng-click="cancelCallout()">
        <span class="glyphicon glyphicon-cancel"></span>
        Cancel
      </button>
    </div>
  </div>
</div>
