<div class="col-xs-4 col-xs-offset-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Login</h4>
    </div>
    <div class="panel-body">
      <form role="form">
        <label class="control-label">Username</label>
        <input type="text" class="form-control" ng-model="user.username" on-enter="login"/>
        <label class="control-label">Password</label>
        <input type="password"  class="form-control" ng-model="user.password" on-enter="login"/>
      </form>
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-success" ng-click="login()"><span class="glyphicon glyphicon-log-in"></span> Login</button>
    </div>
  </div>
</div>
