
<div class="navbar navbar-inverse top-menu">
	<div class="navbar-header">
		<a class="navbar-brand" href="#/">CaseTrack 2.0</a>
	</div>
	<ul class="nav navbar-nav" ng-show="isUserLoggedIn()">
		<li class="{{session.currentPage=='clients'?'active':''}}"><a
			href="#/clients">Clients</a></li>
		<li class="{{session.currentPage=='workshops'?'active':''}}"><a
			href="">Workshops</a></li>
		<li class="{{session.currentPage=='meetings'?'active':''}}"><a
			href="">External Meetings</a></li>
		<li class="{{session.currentPage=='staticinfo'?'active':''}}"><a
			href="#/staticinfo">Configuration</a></li>
		<li class="{{session.currentPage=='reports'?'active':''}}"><a
			href="">Reports</a></li>
		<li class="dropdown"><a href="" class="dropdown-toggle"
			data-toggle="dropdown"> <span class="glyphicon glyphicon-user"></span>
				<span ng-bind="getUserInfo().username"></span> <b class="caret"></b>
		</a>
			<ul class="dropdown-menu">
				<li><a href="" ng-click="logout()"><span
						class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				<li><a href="" ng-click="changePassword()"><span
						class="glyphicon glyphicon-edit"></span> Change Password</a></li>
			</ul></li>
	</ul>
</div>
