<div>
	<table class="table table-condensed table-striped">
		<thead>
			<tr>
				<th ng-bind="currentRecordType.name"></th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="record in records">
				<td ng-bind="record.name"></td>
				<td ng-bind="record.active?'Active':'Inactive'"></td>
				<td>
					<a href="" ng-click="deleteRecord(record)"><span class="glyphicon glyphicon-remove"></span></a>
					<a href="" ng-click="editRecord(record)"><span class="glyphicon glyphicon-edit"></span></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal {{showRecordModal?'show':'hide'}}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" ng-click="cancelRecord()">&times;</button>
				<h4>New {{currentRecordType.name}}</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<label class="control-label">Name</label>
					<input class="form-control" type="text" ng-model="currentRecord.name"></input>
					<label class="control-label checkbox">
						Active
						<input type="checkbox" ng-model="currentRecord.active"></input>
					</label>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success" ng-click="saveRecord()">
					<span class="glyphicon glyphicon-save"></span>
					Save
				</button>
				<button class="btn btn-danger" ng-click="cancelRecord()">
					<span class="glyphicon glyphicon-remove"></span>
					Cancel
				</button>
			</div>
		</div>
	</div>
</div>
