<div class="row">
  <div class="col-xs-3">
    <input type="text" class="form-control" ng-model="recordTypeFilter" placeholder="Type to filter"/>
    <div class="list-group">
      <a href="" ng-click="setCurrentRecordType(recordType)" class="list-group-item {{currentRecordType == recordType?'active':''}}" ng-repeat="recordType in staticRecordTypes | filter:recordTypeFilter">
      	<span ng-bind="recordType.description"></span>
      </a>
    </div>
  </div>
  <div class="col-xs-9">  	
  	<div class="alert alert-info" ng-show="!currentRecordType">
  		<span class="glyphicon glyphicon-info-sign"></span>
  		No record selected.
  	</div>
  	<div ng-show="currentRecordType" class="panel panel-default">
  		<div class="panel-heading">
  			<strong class="panel-title" ng-bind="currentRecordType.description"></strong>
  			<button class="btn btn-default btn-xs" ng-click="createNewRecord()" ng-show="currentRecordType.name != 'CasePlanGoalCategory'">
  				<span class="glyphicon glyphicon-plus"></span>
  				Create
  			</button>
  			<button class="btn btn-default btn-xs" ng-click="createNewCasePlanGoalCategory()" ng-show="currentRecordType.name == 'CasePlanGoalCategory'">
  				<span class="glyphicon glyphicon-plus"></span>
  				Create
  			</button>
  		</div>
  		<div class="panel-body">
  			<ng-include src="'/views/simplerecord.html'" ng-show="currentRecordType.name != 'CasePlanGoalCategory'"></ng-include>
  			<ng-include src="'/views/caseplangoalcategory.html'" ng-show="currentRecordType.name == 'CasePlanGoalCategory'"></ng-include>
  		</div>
  	</div>
  </div>
</div>

