body {
    background-color: #EDEDED;
}

div.top-menu {
    margin-top: 3px;
}

div.container, div.top-menu {
    min-width:1000px;
    width: auto !important;
    width:1000px;
}

.pointable {
    cursor:pointer;
}

tr.pointable:hover td{
    background-color: #428bca  !important;
    border-color: #428bca  !important;
    color: #fff;
}

.selected-row, tr.selected-row td {
    background-color: #428bca  !important;
    border-color: #428bca  !important;
    color: #fff;
}

.alert-small {
    margin-bottom: 5px ;
    padding: 5px;
}

.client-alert, .client-alert a {
	color: red ;
}

.horizontal-spacer {
    display:block;
    width:100%;
    height:10px;
}

.table-pagination {
    margin-top:-10px;
}

.pending-alert {
    background-color : red ;
}

.filter-checks {
    height:100px;
    width:280px;
    overflow-y: scroll;
    border: solid 1px #EDEDED;
    padding:5px;
}
