<!DOCTYPE html>
<html>
  <head>
    <title>Client Details</title>
    <link type="text/css" rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css" media="screen, print">
    <link type="text/css" rel="stylesheet" href="/print.css" media="screen, print">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2>Client ID: {{id}}</h2>
        </div>
        <div class="col-xs-12">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Summary</h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6">
                  <table class="table table-striped table-condensed">
                    <tr>
                      <td><strong>First Name:<strong></td>
                      <td>{{firstname}}</td>
                    </tr>
                    <tr>
                      <td><strong>Last Name:</strong></td>
                      <td>{{lastname}}</td>
                    </tr>
                    <tr>
                      <td><strong>Other Name<strong></td>
                      <td>{{othername}}</td>
                    </tr>
                    <tr>
                      <td><strong>Date Of Birth<strong></td>
                      <td>{{dateofbirth}}</td>
                    </tr>
                    <tr>
                      <td><strong>Age</strong></td>
                      <td>{{age}}</td>
                    </tr>
                    <tr>
                      <td><strong>Identified Gender</strong></td>
                      <td>{{identifiedgender}}</td>
                    </tr>
                    <tr>
                      <td><strong>First Contact Date</strong></td>
                      <td>{{firstcontactdate}}</td>
                    </tr>
                    <tr>
                      <td><strong>Counsellor</strong></td>
                      <td>{{counsellor}}</td>
                    </tr>
                    <tr>
                      <td><strong>Visible To Counsellor Only</strong></td>
                      <td>{{counselloronly}}</td>
                   </tr>
                    <tr>
                      <td><strong>Contact Relation</strong></td>
                      <td>{{contactrelation}}</td>
                    </tr>
                    <tr>
                  </table>
                </div>
                <div class="col-xs-6">
                  <table class="table table-striped table-condensed">
                    <tr>
                      <td><strong>Status:</strong></td>
                      <td>{{status}}</td>
                    </tr>
                    <tr>
                      <td><strong>Risk of Homelessness:</strong></td>
                      <td>{{homelessrisk}}</td>
                    </tr>
                    <tr>
                      <td><strong>Difficulty Seeing:</strong></td>
                      <td>{{difficultseeing}}</td>
                    </tr>
                    <tr>
                      <td><strong>Difficulty Hearing:</strong></td>
                      <td>{{difficulthearing}}</td>
                    </tr>
                    <tr>
                      <td><strong>Difficulty Walking:</strong></td>
                      <td>{{difficultwalking}}</td>
                    </tr>
                    <tr>
                      <td><strong>Difficulty Remembering:</strong></td>
                      <td>{{difficultremembering}}</td>
                    </tr>
                    <tr>
                      <td><strong>SAMSSA:</strong></td>
                      <td>{{samssa}}</td>
                    </tr>
                    <tr>
                      <td><strong>CRCC:</strong></td>
                      <td>{{crcc}}</td>
                    </tr>
                    <tr>
                      <td><strong>Nguru:</strong></td>
                      <td>{{nguru}}</td>
                    </tr>
                    <tr>
                      <td><strong>Royal Commission:</strong></td>
                      <td>{{royalcommission}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Details</h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6">
                  <table class="table table-striped table-condensed">
                    <tr>
                      <td><strong>Ethnicity:</strong></td>
                      <td>{{ethnicity}}</td>
                    </tr>
                    <tr>
                      <td><strong>Identified Sexuality:</strong></td>
                      <td>{{identifiedsexuality}}</td>
                    </tr>
                    <tr>
                      <td><strong>Aboriginal Counsellor Preferred:</strong></td>
                      <td>{{aboriginalcounsellorpreffered}}</td>
                    </tr>
                    <tr>
                      <td><strong>Email Address:</strong></td>
                      <td>{{emailaddress}}</td>
                    </tr>
                    <tr>
                      <td><strong>Street Address:</strong></td>
                      <td>{{streetaddress}}</td>
                    </tr>
                    <tr>
                      <td><strong>Postcode:</strong></td>
                      <td>{{postcode}}</td>
                    </tr>
                    <tr>
                      <td><strong>State:</strong></td>
                      <td>{{state}}</td>
                    </tr>
                    <tr>
                      <td><strong>Suburb:</strong></td>
                      <td>{{suburb}}</td>
                    </tr>
                  </table>
                </div>
                <div class="col-xs-6">
                  <table class="table table-striped table-condensed">
                    <tr>
                      <td><strong>Mobile Phone:</strong></td>
                      <td>{{mobilephone}}</td>
                    </tr>
                    <tr>
                      <td><strong>Work Phone:</strong></td>
                      <td>{{workphone}}</td>
                    </tr>
                    <tr>
                      <td><strong>Home Phone:</strong></td>
                      <td>{{homephone}}</td>
                    </tr>
                    <tr>
                      <td><strong>Emergency Contact Name:</strong></td>
                      <td>{{emergencycontactname}}</td>
                    </tr>
                    <tr>
                      <td><strong>Emergency Contact Details:</strong></td>
                      <td>{{emergencycontactdetails}}</td>
                    </tr>
                    <tr>
                      <td><strong>Interpreter Needed:</strong></td>
                      <td>{{interpreterneeded}}</td>
                    </tr>
                    <tr>
                      <td><strong>Can we leave message:</strong></td>
                      <td>{{canleavemessage}}</td>
                    </tr>
                    <tr>
                      <td><strong>Can we text:</strong></td>
                      <td>{{cantext}}</td>
                    </tr>
                    <tr>
                      <td><strong>Can we send letters:</strong></td>
                      <td>{{cansendletters}}</td>
                    </tr>
                    <tr>
                      <td><strong>Comments:</strong></td>
                      <td>{{communicationcomments}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Alerts</h4>
            </div>
            <div class="panel-body">
              <table class="table table-striped table-condensed">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Alert Type</th>
                    <th>Alert Reason</th>
                    <th>Issue</th>
                    <th>Resolution</th>
                  </tr>
                </thead>
                <tbody>
                {% for alert in alerts %}
                <tr>
                  <td>{{alert.status}}</td>
                  <td>{{alert.alerttype}}</td>
                  <td>{{alert.alertreason}}</td>
                  <td>{{alert.issue}}</td>
                  <td>{{alert.resolution}}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Case Notes</h4>
            </div>
            <div class="panel-body">
             {% for casenote in casenotes %}
              <table class="table">
               <tr>
                 <td>
                    <table class="table table-striped table-condensed">
                <thead>
                  <tr>
                    <th>Date Of Service</th>
                    <th>Time Of Service</th>
                    <th>Duration</th>
                    <th>Contact Type</th>
                    <th>Reason</th>
                    <th>Outcome</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{casenote.dateofservice}}</td>
                    <td>{{casenote.timeofservice}}</td>
                    <td>{{casenote.duration}}</td>
                    <td>{{casenote.contacttype}}</td>
                    <td>{{casenote.reason}}</td>
                    <td>{{casenote.outcome}}</td>
                  </tr>
                </tbody>
              </table>
                 </td>
               </tr>
               <tr>
                 <td>
                  <strong>NOTE:</strong>
                  <span>{{casenote.note}} </span>
                 </td>
               </tr>
              </table>
              {% endfor %}
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Case Plans</h4>
            </div>
            <div class="panel-body">
              {% for caseplan in caseplans %}
              <div class="well well-sm" >
                <h4>Caseplan No {{caseplan.id}}</h4>
                <table class="table-condensed table-striped">
                  <tr>
                    <td><strong>Incident:</strong></td>
                    <td>{{caseplan.incident}}</td>
                  </tr>
                  <tr>
                    <td><strong>Counsellor Notes:</strong></td>
                    <td>{{caseplan.counsellornotes}}</td>
                  </tr>
                  <tr>
                    <td><strong>Closure Category</strong></td>
                    <td>{{caseplan.closurecategory}}</td>
                  </tr>
                  <tr>
                    <td><strong>Closure Reason</strong></td>
                    <td>{{caseplan.closurereason}}</td>
                  </tr>
                </table>
                <h4>Caseplan Goals</h4>
                <table class="table table-condensed table-striped">
                  <thead>
                    <th>Major Category</th>
                    <th>Minor Category</th>
                    <th>Therapy Method</th>
                    <th>Severity</th>
                  </thead>
                  <tbody>
                    {% for goal in caseplan.goals %}
                    <tr>
                      <td>{{goal.majorcategory}}</td>
                      <td>{{goal.minorcategory}}</td>
                      <td>{{goal.therapymethod}}</td>
                      <td>{{goal.severity}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <h4>Caseplan Reviews</h4>
                <table class="table table-condensed table-striped">
                  <thead>
                    <th>Review</th>
                    <th>By</th>
                    <th>On</th>
                    <th>Review Details</th>
                  </thead>
                  <tbody>
                    {% for review in caseplan.reviews %}
                    <tr>
                      <td>{{review.review}}</td>
                      <td>{{review.createdby}}</td>
                      <td>{{review.createdon}}</td>
                      <td>
                        <table class="table table-condensed table-striped">
                          <thead>
                            <tr>
                              <th>Major Category</th>
                              <th>Minor Category</th>
                              <th>Therapy Method</th>
                              <th>Severity</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for item in review.items %}
                            <tr>
                              <td>{{item.majorcategory}}</td>
                              <td>{{item.minorcategory}}</td>
                              <td>{{item.therapymethod}}</td>
                              <td>{{item.severity}}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <h3>Linked CaseNotes</h3>
                <table class="table table-striped table-condensed">
                  <thead>
                    <tr>
                      <th>Date Of Service</th>
                      <th>Time Of Service</th>
                      <th>Duration</th>
                      <th>Contact Type</th>
                      <th>Reason</th>
                      <th>Outcome</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for casenote in caseplan.casenotes %}
                    <tr>
                      <td>{{casenote.dateofservice}}</td>
                      <td>{{casenote.timeofservice}}</td>
                      <td>{{casenote.duration}}</td>
                      <td>{{casenote.contacttype}}</td>
                      <td>{{casenote.reason}}</td>
                      <td>{{casenote.outcome}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Callouts</h4>
            </div>
            <div class="panel-body">
              {% for callout in callouts %}
              <div class="row well well-sm">
                <div class="col-xs-6">
                  <table class="table table-striped table-condensed">
                    <tr>
                      <td><strong>Date of Contact:</strong></td>
                      <td>{{callout.dateofcontact}}</td>
                    </tr>
                    <tr>
                      <td><strong>SACAT:</strong></td>
                      <td>{{callout.sacat}}</td>
                    </tr>
                    <tr>
                      <td><strong>Other Statement:</strong></td>
                      <td>{{callout.otherstatment}}</td>
                    </tr>
                    <tr>
                      <td><strong>Informal Statement:</strong></td>
                      <td>{{callout.informalstatement}}</td>
                    </tr>
                    <tr>
                      <td><strong>Incomplete Statement</strong></td>
                      <td>{{callout.incompletestatement}}</td>
                    </tr>
                    <tr>
                      <td><strong>Details of other statement:</strong></td>
                      <td>{{callout.otherstatementspecify}}</td>
                    </tr>
                    <tr>
                      <td><strong>Police Officer 1:</strong></td>
                      <td>{{callout.policeofficer1}}</td>
                    </tr>
                    <tr>
                      <td><strong>Police Officer 2:</strong></td>
                      <td>{{callout.policeofficer2}}</td>
                    </tr>
                    <tr>
                      <td><strong>Charges Laid:</strong></td>
                      <td>{{callout.chargeslaid}}</td>
                    </tr>
                    <tr>
                      <td><strong>Charges and Court Details:</strong></td>
                      <td>{{callout.chargesandcourtdetails}}</td>
                    </tr>
                    <tr>
                      <td><strong>FAMSAC DATE:</strong></td>
                      <td>{{callout.famsacdate}}</td>
                    </tr>
                    <tr>
                      <td><strong>FAMSAC Staff:</strong></td>
                      <td>{{callout.famsacstaff}}</td>
                    </tr>
                    <tr>
                      <td><strong>Forensic Exam Conducted:</strong></td>
                      <td>{{callout.forensicexamconducted}}</td>
                    </tr>
                    <tr>
                      <td><strong>Other Exams:</strong></td>
                      <td>{{callout.otherexamspecify}}</td>
                    </tr>
                    <tr>
                      <td><strong>Other Services Contactes:</strong></td>
                      <td>{{callout.otherservicescontacted}}</td>
                    </tr>
                    <tr>
                      <td><strong>Notes:</strong></td>
                      <td>{{callout.notes}}</td>
                    </tr>
                  </table>
                </div>
                <div class="col-xs-6">
                  <table class="table table-striped table-condensed">
                    <tr>
                      <td><strong>Police Station:</strong></td>
                      <td>{{callout.policestation}}</td>
                    </tr>
                    <tr>
                      <td><strong>General Duties Police:</strong></td>
                      <td>{{callout.generaldutiespolice}}</td>
                    </tr>
                    <tr>
                      <td><strong>formalstatement:</strong></td>
                      <td>{{callout.formalstatement}}</td>
                    </tr>
                    <tr>
                      <td><strong>Meet and Greet:</strong></td>
                      <td>{{callout.meetandgreet}}</td>
                    </tr>
                    <tr>
                      <td><strong>Other Police</strong></td>
                      <td>{{callout.otherpolice}}</td>
                    </tr>
                    <tr>
                      <td><strong>CRCC Staff present:</strong></td>
                      <td>{{callout.crccstaffpresent}}</td>
                    </tr>
                    <tr>
                      <td><strong>Pending Further Investigation:</strong></td>
                      <td>{{callout.pendingfurtherinvestigation}}</td>
                    </tr>
                    <tr>
                      <td><strong>FAMSAC Location:</strong></td>
                      <td>{{callout.famsaclocation}}</td>
                    </tr>
                    <tr>
                      <td><strong>Other Examination:</strong></td>
                      <td>{{callout.otherexam}}</td>
                    </tr>
                    <tr>
                      <td><strong>Can Contact External Services:</strong></td>
                      <td>{{callout.cancontactexternalservices}}</td>
                    </tr>
                    <tr>
                      <td><strong>Is Child At Risk:</strong></td>
                      <td>{{callout.ischildatrisk}}</td>
                    </tr>
                    <tr>
                      <td><strong>Report To Care:</strong></td>
                      <td>{{callout.reporttocare}}</td>
                    </tr>
                    <tr>
                      <td><strong>Risk:</strong></td>
                      <td>{{callout.risk}}</td>
                    </tr>
                    <tr>
                      <td><strong>Police Notified:</strong></td>
                      <td>{{callout.policenotified}}</td>
                    </tr>
                    <tr>
                      <td><strong>Other Callout Information:</strong></td>
                      <td>{{callout.othercalloutinfo}}</td>
                    </tr>
                  </table>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Health</h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6">
                  <table class="table table-striped table-condensed">
                    <tr>
                      <td><strong>Disablitity:</strong></td>
                      <td>{{disability}}</td>
                    </tr>
                    <tr>
                      <td><strong>Disability Details:</strong></td>
                      <td>{{disabilityspecify}}</td>
                    </tr>
                    <tr>
                      <td><strong>Support Considerations:</strong></td>
                      <td>{{supportconsiderations}}</td>
                    </tr>
                    <tr>
                      <td><strong>Other Health Issue:</strong></td>
                      <td>{{otherhealth}}</td>
                    </tr>
                    <tr>
                      <td><strong>Other Health Details:</strong></td>
                      <td>{{otherhealthspecify}}</td>
                    </tr>
                    <tr>
                      <td><strong>Doctor:</strong></td>
                      <td>{{doctor}}</td>
                    </tr>
                    <tr>
                      <td><strong>Current Medications:</strong></td>
                      <td>{{currentmedications}}</td>
                    </tr>
                    <tr>
                      <td><strong>Self Harm:</strong></td>
                      <td>{{selfharm}}</td>
                    </tr>
                    <tr>
                      <td><strong>Self Harm Details:</strong></td>
                      <td>{{selfharmspecify}}</td>
                    </tr>
                    <tr>
                      <td><strong>Past/Present Self Harm:</strong></td>
                      <td>{{pastpresentselfharm}}</td>
                    </tr>
                    <tr>
                      <td><strong>Safety Strategies:</strong></td>
                      <td>{{safetystrategies}}</td>
                    </tr>
                    <tr>
                      <td><strong>Drug Use:</strong></td>
                      <td>{{druguse}}</td>
                    </tr>
                    <tr>
                      <td><strong>Drug Use Details:</strong></td>
                      <td>{{drugusespecify}}</td>
                    </tr>
                    <tr>
                      <td><strong>Past/Present Druce Use:</strong></td>
                      <td>{{pastpresentdruguse}}</td>
                    </tr>
                    <tr>
                      <td><strong>Drug Use Strategies:</strong></td>
                      <td>{{drugusestrategies}}</td>
                    </tr>
                  </table>
                </div>
                <div class="col-xs-6">
                  <table class="table table-striped table-condensed">
                    <tr>
                      <td><strong>Mental Health:</strong></td>
                      <td>{{mentalhealth}}</td>
                    </tr>
                    <tr>
                      <td><strong>Diagnosing Practitioner:</strong></td>
                      <td>{{diagnosingpractitioner}}</td>
                    </tr>
                    <tr>
                      <td><strong>Past/Present Mental Health:</strong></td>
                      <td>{{pastpresentmentalhealth}}</td>
                    </tr>
                    <tr>
                      <td><strong>Current Prescriptions:</strong></td>
                      <td>{{currentprescriptions}}</td>
                    </tr>
                    <tr>
                      <td><strong>Suicidal</strong></td>
                      <td>{{suicidal}}</td>
                    </tr>
                    <tr>
                      <td><strong>Suicidality Details:</strong></td>
                      <td>{{suicidalspecify}}</td>
                    </tr>
                    <tr>
                      <td><strong>Past/Present Suicidality:</strong></td>
                      <td>{{pastpresentsuicidality}}</td>
                    </tr>
                    <tr>
                      <td><strong>Suicidality Strategies:</strong></td>
                      <td>{{suicidalitystrategies}}</td>
                    </tr>
                    <tr>
                      <td><strong>Eating Problems:</strong></td>
                      <td>{{eatingproblems}}</td>
                    </tr>
                    <tr>
                      <td><strong>Eating Problems Details:</strong></td>
                      <td>{{eatingproblemsspecify}}</td>
                    </tr>
                    <tr>
                      <td><strong>Past/Present Eating Problems:</strong></td>
                      <td>{{pastpresenteatingproblems}}</td>
                    </tr>
                    <tr>
                      <td><strong>Eating Problems Strategies:</strong></td>
                      <td>{{eatingproblemsstrategies}}</td>
                    </tr>
                    <tr>
                      <td><strong>Alcohol Use:</strong></td>
                      <td>{{alcoholuse}}</td>
                    </tr>
                    <tr>
                      <td><strong>Alcohol Use Details:</strong></td>
                      <td>{{alcoholusespecify}}</td>
                    </tr>
                    <tr>
                      <td><strong>Past/Present Alcohol Use:</strong></td>
                      <td>{{pastpresentalcoholuse}}</td>
                    </tr>
                    <tr>
                      <td><strong>Alcohol Use Strategies:</strong></td>
                      <td>{{alcoholusestrategies}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Assault</h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6">
                  <table class="table table-striped table-condensed">
                    <tr>
                      <td><strong>Recently Sexualy Assulted:</strong></td>
                      <td>{{recentlyassulted}}</td>
                    </tr>
                    <tr>
                      <td><strong>Recent Sexual Assault Date:</strong></td>
                      <td>{{recentlyassulteddate}}</td>
                    </tr>
                    <tr>
                      <td><strong>Assaulted at age 12-25:</strong></td>
                      <td>{{assultedat1225}}</td>
                    </tr>
                    <tr>
                      <td><strong>Date of assault at age 12-25:</strong></td>
                      <td>{{assultedat1225date}}</td>
                    </tr>
                    <tr>
                      <td><strong>Drug/Alcohol Facilitated Sexual Assault:</strong></td>
                      <td>{{drugalcoholfacilitatedsa}}</td>
                    </tr>
                    <tr>
                      <td><strong>Date of Drug/Alcohol Facilitated Sexual Assault:</strong></td>
                      <td>{{drugalcoholfacilitatedsadate}}</td>
                    </tr>
                    <tr>
                      <td><strong>Incidents via Electronic Media:</strong></td>
                      <td>{{incidentsviaelectronicmedia}}</td>
                    </tr>
                    <tr>
                      <td><strong>Date of Incident via Electronic Media:</strong></td>
                      <td>{{incidentsviaelectronicmediadate}}</td>
                    </tr>
                    <tr>
                      <td><strong>Touching Offences:</strong></td>
                      <td>{{touchingoffences}}</td>
                    </tr>
                    <tr>
                      <td><strong>Date of Touching Offences:</strong></td>
                      <td>{{touchingoffencesdate}}</td>
                    </tr>
                    <tr>
                      <td><strong>Sexually assaulted as a child:</strong></td>
                      <td>{{childsexualassult}}</td>
                    </tr>
                    <tr>
                      <td><strong>Date Of Sexual Assault as a Child</strong></td>
                      <td>{{childsexualassultdate}}</td>
                    </tr>
                    <tr>
                      <td><strong>Sexually Assaulted as an Adult:</strong></td>
                      <td>{{adultsexualassult}}</td>
                    </tr>
                    <tr>
                      <td><strong>Date of Sexual Assault As an Adult:</strong></td>
                      <td>{{adultsexualassultdate}}</td>
                    </tr>
                    <tr>
                      <td><strong>Assaulted by Multiple Offenders:</strong></td>
                      <td>{{assultbymultipleoffenders}}</td>
                    </tr>
                    <tr>
                      <td><strong>Date of Assaulted by Multiple Offenders:</strong></td>
                      <td>{{assultbymultipleoffendersdate}}</td>
                    </tr>
                  </table>
                </div>
                <div class="col-xs-6">
                  <table class="table table-striped table-condensed">
                    <tr>
                      <td><strong>Violence by Intimate Partner:</strong></td>
                      <td>{{violencebyintimatepartner}}</td>
                    </tr>
                    <tr>
                      <td><strong>Date of Violence by Intimate Partner:</strong></td>
                      <td>{{violencebyintimatepartnerdate}}</td>
                    </tr>
                    <tr>
                      <td><strong>Sexual Harrassment:</strong></td>
                      <td>{{sexualharrassment}}</td>
                    </tr>
                    <tr>
                      <td><strong>Date of Sexual Harrassment:</strong></td>
                      <td>{{sexualharrassmentdate}}</td>
                    </tr>
                    <tr>
                      <td><strong>Stalking</strong></td>
                      <td>{{stalking}}</td>
                    </tr>
                    <tr>
                      <td><strong>Stalking Date:</strong></td>
                      <td>{{stalkingdate}}</td>
                    </tr>
                    <tr>
                      <td><strong>Witnessed Sexual Offence:</strong></td>
                      <td>{{witnesssexualoffence}}</td>
                    </tr>
                    <tr>
                      <td><strong>Witnessed Sexual Offence On:</strong></td>
                      <td>{{witnesssexualoffencedate}}</td>
                    </tr>
                    <tr>
                      <td><strong>Domestic Violence:</strong></td>
                      <td>{{domesticviolence}}</td>
                    </tr>
                    <tr>
                      <td><strong>Date of Domestic Violence:</strong></td>
                      <td>{{domesticviolencedate}}</td>
                    </tr>
                    <tr>
                      <td><strong>Other Assault:</strong></td>
                      <td>{{otherassult}}</td>
                    </tr>
                    <tr>
                      <td><strong>Other Assault Details:</strong></td>
                      <td>{{specifyotherassult}}</td>
                    </tr>
                    <tr>
                      <td><strong>Other Assault Date:</strong></td>
                      <td>{{otherassultdate}}</td>
                    </tr>
                    <tr>
                      <td><strong>First Disclosure Date:</strong></td>
                      <td>{{firstdisclosuredate}}</td>
                    </tr>
                    <tr>
                      <td><strong>First Disclosure To:</strong></td>
                      <td>{{firstdisclosureto}}</td>
                    </tr>
                    <tr>
                      <td><strong>Location of Recent Incident:</strong></td>
                      <td>{{recentincidentlocation}}</td>
                    </tr>
                    <tr>
                      <td><strong>Client's Narration:</strong></td>
                      <td>{{tellmewhathappened}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Trauma</h4>
            </div>
            <div class="panel-body">
              <table class="table table-striped table-condensed">
                <tr>
                  <td><strong>Trauma History:</strong></td>
                  <td>{{trauma.traumahistory}}</td>
                </tr>
                <tr>
                  <td><strong>Other Trauma Information:</strong></td>
                  <td>{{trauma.otherinfo}}</td>
                </tr>
                <tr>
                  <td><strong>Trauma Notes:</strong></td>
                  <td>{{trauma.notes}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
