body {
    background-color: #EDEDED;
}

div.top-menu {
    margin-top: 3px;
}

div.container, div.top-menu {
    min-width:1000px;
    width: auto !important;
    width:1000px;
}

.pointable {
    cursor:pointer;
}

tr.pointable:hover td{
    background-color: #428bca  !important;
    border-color: #428bca  !important;
    color: #fff;
}

.selected-row {
    background-color: #428bca  !important;
    border-color: #428bca  !important;
    color: #fff;
}

.alert-small {
    margin-bottom: 5px ;
    padding: 5px;
}

.client-alert, .client-alert a {
	color: red ;
}
